<p>
  property-details-features works!
</p>

<mat-form-field class="property-full-width">
  <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
  <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name" >
  <!-- {{firstName}} -->

  <!-- <mat-hint>Should be a valid email address</mat-hint>
  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
</mat-form-field>
