.order-list-card {
    width: 100%;
    background: transparent;
}

.order-list-card-content {
    min-height: 700px;
    background: #fafafa;
}

.order-list-header-imag {
    background-image: url('../../assets/images/pmgmnt.png');
    background-size: cover;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

tr.mat-header-row {
    background: #fb8c00;
    text-align: center;
}

.mat-row:nth-child(even) {
    background-color: #e4e0e0;
}

.mat-row:nth-child(odd) {
    background-color: #ece5e5;
}

.mat-row:hover {
    background-color: rgb(233, 221, 221);
}

.mat-sort-header-button {
    margin-left: auto;
    margin-right: auto;
}

.table-header-text {
    font-size: 1.15em;
    color: white;
}

// ::ng-deep mat-header-cell {
//     display: flex;
//     justify-content: center;
// }
::ng-deep .mat-sort-header-button {
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    flex: 1 1 auto;
}
