<!-- <p>
  marketing-home works!
</p>
<app-property-listing></app-property-listing> -->
<div class="grid-container">
    <div>
        <h2 style="font-variant: all-petite-caps; color: #656767; margin-top: -20px; margin-left: 15px;"><i class="fab fa-battle-net title-icon"></i> &nbsp; Marketing Manager
            <span style="font-size: .4em; font-variant: normal;">&nbsp;&nbsp; Manage property listings, open houses, applications, etc.</span>
        </h2>
        <!-- <div> -->

        <!-- </div> -->
    </div>

    <!-- <app-property-list ></app-property-list> -->
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>
