<!-- <p>
    screening works! {{id}}*ngIf="!(loading$ | async) && property; else spinner"
</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill>
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/owner2.png" style="border-radius: 50%;" width="120px" height="120px">
        <div style="margin-top: 25px;width: 100%;">
            <span style="font-weight: 500;">Applicant Information</span>
        </div>
        <div style="font-size: .85em; margin-top: 25px;">
            <p>First Name: {{application.rentalApplicant.firstName}}</p>
            <p>Last Name: {{application.rentalApplicant.lastName}}</p>
            <p>Contact Telephone: {{application.rentalApplicant.contactTel}}</p>
            <p>Contact Email: {{application.rentalApplicant.contactEmail}}</p>
        </div>


        <div style="margin-top: 25px;width: 100%;">
            <span style="font-weight: 500;">Rental Property</span>
            <!-- <ul class="property-list">
              <li *ngFor="let property of owner.ownerProperty" style="margin-left: -40px;">
                   <a href="" style="cursor: pointer;">details</a>
              </li>
          </ul> -->
            <!-- {{application.rentalApplicant.lastName}} -->
            <p>
                {{application.rentalProperty.propertyName}}
            </p>
            <p>
                {{application.rentalProperty.address.streetNum}} <br> {{application.rentalProperty.address.city}} {{application.rentalProperty.address.stateProvince}} {{application.rentalProperty.address.zipPostCode}} <br> {{application.rentalProperty.address.country}}
            </p>
        </div>


        <div class="date-time">
            <p>
                Applied on: {{application.created | date}}
            </p>

        </div>

    </div>
    <div fxFlex="70%">
        <mat-card class="screening-details-card">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="screening-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
              account_balance
            </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"{{property.propertyNumber}} {{property.propertyNumber}} {{property.propertyStreet}} {{property.propertyCity}} {{property.propertyStateProvince}} {{property.propertyZipPostCode}}-->
                </div>
                <mat-card-title>Rental Applicataion for: - <span style="font-size: .8em; font-style: italic;">{{application.rentalProperty.propertyName}}</span> </mat-card-title>
                <mat-card-subtitle><span style="font-weight: bold;">Address</span>: {{application.rentalProperty.address.streetNum}} {{application.rentalProperty.address.city}} {{application.rentalProperty.address.stateProvince}} {{application.rentalProperty.address.zipPostCode}}
                    {{application.rentalProperty.address.country}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="screening-details-card-content">
                <div [@.disabled]="true" style="width: 100%;">
                    <form novalidate [formGroup]="addForm" (ngSubmit)="submit()">
                        <mat-tab-group>

                            <mat-tab label="General" style="background: #f5f5f5;">
                            </mat-tab>
                            <mat-tab label="Reference Check" style="background: #f5f5f5;">
                            </mat-tab>
                            <mat-tab label="Income Check" style="background: #f5f5f5;">
                            </mat-tab>
                            <mat-tab label="Credit Check" style="background: #f5f5f5;">
                            </mat-tab>

                        </mat-tab-group>
                        <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%; margin-bottom: 25px;">
                            <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
<img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/> [disabled]="f.invalid || !f.dirty"-->
                            <button type="submit" mat-raised-button color="primary">UPDATE</button>
                            <button type="button" mat-raised-button color="accent" (click)="cancel()">CANCEL</button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>