<!-- <p>
  add-listing works!
</p> -->
<mat-card class="listing-add-card">
    <mat-card-header style="background-color: #f5f5f5;">
        <div mat-card-avatar class="listing-list-header-image">
            <i class="material-icons" style="font-size: 2.5em;color: #1a995e; margin-left: 5px;">
          grading
        </i>
            <!-- <img src="../../assets/images/pmgmnt.png" height="40px" width="40px"> (ngSubmit)="onSubmit()"-->
        </div>
        <mat-card-title>Add Property Listing
            <!-- - <i class="material-icons" style="font-size: 1em;color: #e67214; margin-left: 5px; vertical-align: bottom;"> warning</i> <span style="font-size: .8em; color:#e67214 ;">You can only add existing or new owner to existing rental property!</span> -->
        </mat-card-title>
        <mat-card-subtitle>Add new property listing</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="listing-add-card-content">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%" style="width: 90%;">
            <div style="width: 90%;">
                <form fxLayout="column" novalidate [formGroup]="addForm" class="add-form" (ngSubmit)="submit()">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxLayout="column" style="margin-top: 35px;" fxFlex="50" fxflex.xs="85">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Select Rental Property to be Listed</mat-label>
                                <mat-select #mySelect (selectionChange)="onChange(mySelect.value)">
                                    <mat-option *ngFor="let property of rentalProperties" [value]="property.id">
                                        {{property.propertyName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="property-full-width" style="width: 90%;">
                                <span class="icon-pos " matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                <mat-label>Listing Title</mat-label>
                                <input type="text" id="title " formControlName="title" matInput placeholder="Listing Title">
                            </mat-form-field>
                            <mat-form-field class="property-full-width " style="width: 90%;">
                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                <mat-label>Monthly Rent ($)</mat-label>
                                <input type="number" id="monthlyRent" formControlName="monthlyRent" matInput placeholder="Monthly Rent">
                            </mat-form-field>
                            <mat-form-field class="property-full-width" style="width: 90%;">
                                <!-- <input matInput type="text" placeholder="Property Name" formControlName="propertyName" id="title"> -->
                                <mat-label>Notes</mat-label>
                                <textarea matInput formControlName="notes" style="height: 50px; overflow-y: auto;"></textarea>
                            </mat-form-field>
                            <mat-form-field class="property-full-width " style="width: 90%;">
                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                <mat-label>Contact Name</mat-label>
                                <input type="text" id="contactName" formControlName="contactName" matInput placeholder="Contact Name">
                            </mat-form-field>
                            <mat-form-field class="property-full-width " style="width: 90%;">
                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                <mat-label>Contact Email</mat-label>
                                <input type="text " id="contactEmail" formControlName="contactEmail" matInput placeholder="Monthly Rent">
                            </mat-form-field>
                            <mat-form-field class="property-full-width " style="width: 90%;">
                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                <mat-label>Contact Telephone</mat-label>
                                <input type="text" id="contactTel" formControlName="contactTel" matInput placeholder="Contact Telephone">
                            </mat-form-field>
                            <mat-form-field class="property-full-width " style="width: 90%;">
                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                <mat-label>Contact SMS Texting</mat-label>
                                <input type="text" id="contactSMS" formControlName="contactSMS" matInput placeholder="Contact SMS Texting">
                            </mat-form-field>
                        </div>
                        <div style="margin-top: 35px;" fxFlex="50" fxflex.xs="85">
                            <mat-form-field class="property-full-width" style="width: 100%;">
                                <!-- <input matInput type="text" placeholder="Property Name" formControlName="propertyName" id="title"> -->
                                <mat-label>Listing Description</mat-label>
                                <textarea matInput formControlName="listingDesc" style="height: 350px; overflow-y: auto;"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="submit-button">
                        <button mat-button type="button" style="float: right;background: #ff5722; color: white;margin-right: 5px;" (click)="cancel()">Cancel</button>
                        <button mat-button type="submit" style="float: right;background: #11c447; color: white;">Submit</button>

                    </div>
                </form>

            </div>
        </div>



    </mat-card-content>
</mat-card>
