<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px" fxFlexFill style="overflow-x: hidden;overflow-y: hidden;">
    <!-- <p style="margin-top: -15px;"></p> -->
    <div mat-dialog-title class="dialog-title">Work Order Details<span></span></div>
    <mat-dialog-content class="text" fxLayout="column" fxLayoutAlign="staret center" fxLayoutGap="1%" style="height: 200px;" fxFlexFill>
        <div [@.disabled]="true" style="width: 100%;margin-top: -10px;">
            <mat-tab-group>
                <mat-tab label="Work Order" style="background: #f5f5f5;">
                    <div *ngIf="workOrder" style="width:100%">
                        <div fxLayout="row" fxLayoutAlign="start" style="font-size: .9em;">
                            <div style="width: 50%;">
                                <p><span style="font-weight: bold;">Order Id:</span> <span style="font-style: italic;">&nbsp; {{workOrder.id}}</span></p>
                                <p><span style="font-weight: bold;">Work Order:</span> <span style="font-style: italic;">&nbsp; {{workOrder.workOrderName}}</span></p>
                                <p><span style="font-weight: bold;">Description:</span> <span style="font-style: italic;">&nbsp; {{workOrder.workOrderDetails}}</span></p>

                            </div>
                            <div style="width: 50%;">
                                <p><span style="font-weight: bold;">Work Type:</span> <span style="font-style: italic;">&nbsp; {{workOrder.workOrderType }}</span></p>
                                <p><span style="font-weight: bold;">Start Date:</span> <span style="font-style: italic;">&nbsp; {{workOrder.startDate | date}}</span></p>
                                <p><span style="font-weight: bold;">Is Urgent:</span> <span style="font-style: italic;">&nbsp; {{workOrder.isEmergency | yesNo}}</span></p>


                            </div>
                        </div>
                    </div>

                    <div style="width: 100%;font-size: .9em;" *ngIf="workOrder">
                        <form novalidate [formGroup]="updateWorkOrderForm" style="width: 100%;border: 1px solid;margin-bottom: 5px;padding: 5px;margin-top: -10px;">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div fxLayout="row" fxLayoutAlign="start start" style="width: 100%;">
                                    <div fxFlex="50%">
                                        <mat-form-field fxFlex.xs="100%" style="margin-left: 10px;margin-right: 10px;width: 95%;">
                                            <!-- <mat-label>Status</mat-label> -->
                                            <!-- <input type="text" matInput placeholder="Rent Paid" formControlName="rentAmount" [ngModel]="payment.actualPaymentAmt"> -->
                                            <!-- <mat-form-field style="width:100%"> -->
                                            <mat-label>Work Order Status</mat-label>
                                            <mat-select formControlName="workOrderStatus" [ngModel]="workOrder.workOrderStatus">
                                                <!-- <mat-option>None</mat-option> -->
                                                <mat-option value="New">New</mat-option>
                                                <mat-option value="In Progress">In Progress</mat-option>
                                                <mat-option value="Completed">Completed</mat-option>
                                                <mat-option value="On Hold">On Hold</mat-option>
                                                <mat-option value="Canceled">Canceled</mat-option>
                                            </mat-select>
                                            <!-- </mat-form-field> -->
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="50%">
                                        <mat-form-field style="width: 98%;">
                                            <mat-label>Completed On</mat-label>
                                            <input matInput [matDatepicker]="picker2" formControlName="endDate" [ngModel]="workOrder.endDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div style="width: 100%;">
                                    <mat-form-field fxFlex="95%" fxFlex.xs="90%" style="margin-left: 10px;margin-right: 10px;">
                                        <mat-label>Note</mat-label>
                                        <input type="text" matInput placeholder="Note" formControlName="note" [ngModel]="workOrder.note">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 98%; margin-bottom: 20px;">
                                <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
    <img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    /> [disabled]="f.invalid || !f.dirty"-->
                                <div *ngIf="loading$ | async">
                                    <app-loading></app-loading>
                                </div>
                                <button [disabled]="!updateWorkOrderForm.dirty" type="button" mat-raised-button color="primary" (click)="upateWorkOrder()">UPDATE</button>
                                <button mat-raised-button color="accent" [mat-dialog-close]="true">CLOSE</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Invoice" style="background: #f5f5f5;">

                </mat-tab>

            </mat-tab-group>

        </div>




        <div *ngIf="!workOrder" style="text-align: center; vertical-align: middle;">
            <img class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            />
            <p>loading...</p>
        </div>

    </mat-dialog-content>
</section>