<!-- <p>
  weather works!
</p> -->
<div style="float: left">
    <i class='fas fa-cloud-showers-heavy' style='font-size:36px; margin-left: 15px;'></i>
</div>
<div>
    <span style="margin-left: 10px;;">16 &#8451;</span>
</div>
<div style="margin-left: 135px;clear: right;font-size: .9em;font-style: italic;color: #75a3ea;">Shower</div>
<div style="margin-left: 85px;">
    <select name="city" style="background: grey; color: white;">
        <option value="1">Surrey</option>
        <option value="2">Vancouver</option>
        <option value="4">N. Vancouver</option>
        <option value="3">Coquitlam</option>
        <option value="4">Burnaby</option>
      </select>
</div>
