<!-- <p>
  contract-details works! *ngIf="property"*ngIf="contract"
</p>
<p>Contract: {{id}}</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="!(loading$ | async) && contract; else spinner">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/contract.png" width="120px" height="120px">
        <div class="date-time">
            <p>
                Created: {{contract.created | date }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{contract.modified | date }}
            </p>
            <p style="margin-top: -10px;">
                Signed: {{contract.contractSignDate | date }}
            </p>
        </div>
    </div>
    <div fxFlex="70%">
        <mat-card class="contract-details-card">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="property-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
                      view_headline
                    </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"-->
                </div>
                <mat-card-title>Management Contract: <span style="font-size: .8em; font-style: italic;">{{contract.managementContractTitle}}</span></mat-card-title>
                <mat-card-subtitle>
                    Property Address: <span *ngIf="!contract.property.address.propertySuiteNumber == ''">{{contract.property.address.propertySuiteNumber}}-</span> {{contract.property.address.propertyNumber}} {{contract.property.address.propertyStreet}}
                    {{contract.property.address.propertyCity}} {{contract.property.address.propertyStateProvince}} {{contract.property.address.propertyZipPostCode}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="contract-details-card-content">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()" style="width: 100%;margin-top: 25px;">
                        <mat-form-field style="margin-top: 25px;width: 70%; display: none;">
                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                            <input type="text" id="id" formControlName="id" matInput placeholder="Id" [ngModel]="contract.id">
                        </mat-form-field>

                        <mat-form-field style="margin-top: 25px;width: 70%;">
                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                            <input type="text" id="managementContractTitle" formControlName="managementContractTitle" matInput placeholder="Management Contract Title" [ngModel]="contract.managementContractTitle">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
                      <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>
                        <div class="selection" style="width: 70%;" fxLayoutAlign="start start">
                            <mat-radio-group style="margin-top: 13px; padding-right: 5px;" formControlName="type" [ngModel]="contract.type">
                                <mat-radio-button value=1 style="padding-right: 10px;margin-right: 25px;" [checked]="contract.type == 1">New</mat-radio-button>
                                <mat-radio-button value=2 [checked]="contract.type == 2">Renewal</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column" style="width: 70%;">
                            <mat-form-field style="margin-right: 10px; width: 50%;">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="startDate" [ngModel]="contract.startDate">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field style="width: 50%;">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="endDate" [ngModel]="contract.endDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" style="width: 70%;">
                            <mat-form-field style="margin-right: 10px; width: 50%;">
                                <span class="icon-pos" matPrefix><mat-icon>attach_money</mat-icon> &nbsp;</span>
                                <input matInput type="text" placeholder="Placement Fee" formControlName="placementFeeScale" [ngModel]="contract.placementFeeScale" id="fee">
                            </mat-form-field>
                            <mat-form-field style="width: 50%;">
                                <span class="icon-pos" matPrefix><mat-icon>attach_money</mat-icon> &nbsp;</span>
                                <input matInput type="text" placeholder="Management Fee" formControlName="managementFeeScale" [ngModel]="contract.managementFeeScale" id="fee">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" style="width: 70%;" fxLayoutAlign="start start">
                            <div style="margin-right: 10px; width: 50%;">
                                <mat-checkbox formControlName="isActive" [ngModel]="contract.isActive" [(checked)]="contract.isActive" class="property-full-width">Active</mat-checkbox>
                            </div>
                            <!-- <div style="width: 50%;">
                                Contract Sign Date: &nbsp; &nbsp; <span style="font-style: italic;">{{contract.contractSignDate | date: mediumDate}}</span>
                            </div> -->
                            <mat-form-field style="margin-right: 10px; width: 50%;">
                                <mat-label>Sign Date</mat-label>
                                <input matInput [matDatepicker]="picker3" formControlName="contractSignDate" [ngModel]="contract.contractSignDate">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>

                        </div>
                        <div style="width:70%">
                            <mat-checkbox formControlName="solicitingOnly" [ngModel]="contract.solicitingOnly" [(checked)]="contract.solicitingOnly" class="property-full-width">Soliciting Only</mat-checkbox>
                        </div>
                        <span class="line"></span>
                        <p></p>
                        <div fxLayout="row" fxLayout.xs="column" style="width: 70%; margin-top: 25px;">
                            <div style="width: 50%;">
                                <h5 style="font-size: 1.25em;">Property Info</h5>
                                <p>{{contract.property.propertyName}}</p>
                                <p style="margin-bottom: 0;">
                                    <span *ngIf="!contract.property.address.propertySuiteNumber == ''">{{contract.property.address.propertySuiteNumber}}-</span> {{contract.property.address.propertyNumber}} {{contract.property.address.propertyStreet}}
                                </p>
                                <p style="margin-bottom: 0;">
                                    {{contract.property.address.propertyCity}} {{contract.property.address.propertyStateProvince}} {{contract.property.address.propertyZipPostCode}}
                                </p>
                                <p>
                                    {{contract.property.address.propertyCountry}}
                                </p>
                            </div>
                            <div style="width: 50%;">
                                <h5 style="font-size: 1.25em;">Property Owners</h5>
                                <div>
                                    <ul class="owner-list" style="margin-left: -40px;">
                                        <li *ngFor="let owner of contract.property.ownerProperty">
                                            {{owner.propertyOwner.firstName}} {{owner.propertyOwner.lastName}} <a href="" style="cursor: pointer;">details</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="start center" style="width: 70%;">
                            <button routerLink="/Manage/property/contractview/{{id}}" mat-raised-button color="primary">View Contract</button> &nbsp;

                            <a (click)="openInput()" style="cursor: pointer;"><span class="material-icons" style="vertical-align: bottom;">save</span>&nbsp;Save Signed Contract</a>
                            <input #file id="fileInput" (change)="onChange(file.files)" hidden type="file">
                        </div>
                        <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%;margin-bottom: 20px;">
                            <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
                <img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                /> [disabled]="f.invalid || !f.dirty"(click)="viewContract()"-->
                            <button type="submit" mat-raised-button color="primary">UPDATE</button>
                            <button mat-raised-button color="accent">CANCEL</button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<ng-template #spinner>
    <app-loading></app-loading>
</ng-template>