<!-- <app-agreement-header></app-agreement-header> -->
<div fxLayout="row" fxLayoutAlign="end" class="header">
    <!-- <div fxFlex="30%"></div> -->
    <div fxFlex="30%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->
        <img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;">
    </div>
    <!-- <div fxFlex="30%"></div> -->
    <div fxFlex="70%" style="text-align: right;font-weight: bold;font-size: 1.2em;">
        10 Day Notice to End Tenancy For Unpaid Rent or Utilities<br>
        <span style="font-size: .65em;font-weight: 100;">
          Residential Tenancy Act, s.46 (1) Manufactured Home Park Tenancy Act, s.39 (1)
        </span><br>
        <span>#RTB-30</span>
    </div>
</div>
<div style="border: 1px black solid;">
    <p style="font-weight: bold;color: white;background-color: #1150af;padding: 10px;margin-bottom: 0;">Tenant: This is a legal notice that could lead to you being evicted from your home</p>
    <p style="text-align: center;padding: 10px;font-size: .9em;margin-bottom: 0;">
        HOW TO DISPUTE THIS NOTICE<br> You have 5 days to pay rent and/or utilities to the landlord or fi le an Application for Dispute Resolution with the Residential Tenancy Branch online, in person at any Service BC Off i ce or by going to the Residential
        Tenancy Branch Off i ce at #400 - 5021 Kingsway in Burnaby. If you do not apply within the required time limit, you are presumed to accept that the tenancy is ending and must move out of the rental unit by the eff ective date of this Notice.
    </p>
</div>
<div>
    <p style="font-weight: bold;color: white;background-color: #1150af;padding: 10px;margin-bottom: 0;">To the Tenant: (use Schedule of Parties form #RTB- 26 to list additional tenants)</p>
    <table>
        <tr style="border-bottom:0 ;">
            <td style="border-bottom:0 ;">first and middle name</td>
            <td style="border-bottom:0 ;">last name</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="width: 50%;border-top: 0;">John</td>
            <td style="border-top:0 ;">Doe</td>
        </tr>
        <tr style="border-bottom:0 ;">
            <td style="border-bottom:0 ;">first and middle name</td>
            <td style="border-bottom:0 ;">last name</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="width: 50%;border-top: 0;">John</td>
            <td style="border-top:0 ;">Doe</td>
        </tr>
        <tr style="border-bottom:0 ;">
            <td style="border-bottom:0 ;">main phone</td>
            <td style="border-bottom:0 ;">other phone</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="width: 50%;border-top: 0;">604-785-5127</td>
            <td style="border-top:0 ;"></td>
        </tr>
    </table>
    <p style="font-weight: bold;color: white;background-color: #1150af;padding: 10px;margin-bottom: 0;">Tenant Address</p>
    <table>
        <tr style="border-bottom:0 ;">
            <td style="width: 10%; border-bottom:0 ;">unit #</td>
            <td style="width: 40%; border-bottom:0 ;">street # and name</td>
            <td style="width: 25%;border-bottom:0 ;">city</td>
            <td style="width: 10%;border-bottom:0 ;">province</td>
            <td style="width: 15%;border-bottom:0 ;">postal code</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="border-top: 0;">119</td>
            <td style="border-top:0 ;">1234 Main Street</td>
            <td style="border-top: 0;">Vancouver</td>
            <td style="border-top:0 ;">BC</td>
            <td style="border-top: 0;">V1V 1V1</td>
        </tr>

    </table>
    <p style="font-weight: bold;color: white;background-color: #1150af;padding: 10px;margin-bottom: 0;">From the Landlord: (use Schedule of Parties #RTB- 26 to list additional landlords)</p>
    <table>
        <tr style="border-bottom:0 ;">
            <td style="border-bottom:0 ;">first and middle name</td>
            <td style="border-bottom:0 ;">last name</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="width: 50%;border-top: 0;">John</td>
            <td style="border-top:0 ;">Doe</td>
        </tr>
        <tr style="border-bottom:0 ;">
            <td style="border-bottom:0 ;">main phone</td>
            <td style="border-bottom:0 ;">other phone</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="width: 50%;border-top: 0;">604-785-5127</td>
            <td style="border-top:0 ;"></td>
        </tr>
    </table>
    <p style="font-weight: bold;color: white;background-color: #b4bac4;padding: 10px;margin-bottom: 0;">I, the Landlord, give you 10 days’ notice to move out of the rental unit/site located at:</p>
    <table>
        <tr style="border-bottom:0 ;">
            <td style="width: 10%; border-bottom:0 ;">unit #</td>
            <td style="width: 40%; border-bottom:0 ;">street # and name</td>
            <td style="width: 25%;border-bottom:0 ;">city</td>
            <td style="width: 10%;border-bottom:0 ;">province</td>
            <td style="width: 15%;border-bottom:0 ;">postal code</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="border-top: 0;">119</td>
            <td style="border-top:0 ;">1234 Main Street</td>
            <td style="border-top: 0;">Vancouver</td>
            <td style="border-top:0 ;">BC</td>
            <td style="border-top: 0;">V1V 1V1</td>
        </tr>

    </table>
    <table style="margin-top: -1px;">
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="width: 50%;border-top: 0;">You must move out of the rental unit by:</td>
            <td style="border-top:0 ;">DD/MM/YYYY</td>
            <!-- <td style="border-top: 0;">Vancouver</td>
            <td style="border-top:0 ;">BC</td>
            <td style="border-top: 0;">V1V 1V1</td> -->
        </tr>
    </table>
    <table>
        <tr style="border-bottom:0 ;">
            <td style="width: 33%; border-bottom:0 ;">name of landlord/agent</td>
            <td style="width: 33%;border-bottom:0 ;">signature of landlord/agent</td>
            <td style="width: 33%;border-bottom:0 ;">date signed DD/MM/YYYY</td>
        </tr>
        <tr style="height: 40px; background: #c3c3ef; border-top: 0;">
            <td style="border-top: 0;">John</td>
            <td style="border-top:0 ;"></td>
            <td style="border-top:0 ;"></td>
        </tr>
    </table>
    <p style="text-align: center; border-bottom: 10px solid #1150af;font-size: .85em;">
        Your personal information is collected under section 26 (a) and (c) of the Freedom of Information and Protection of Privacy Act for the purpose of administering the Residential Tenancy Act. If you have any questions regarding the collection of your personal
        information, please call 604-660-1020 in Greater Vancouver; 250-387-1602 in Victoria; or 1-800-665-8779 elsewhere in B.C.
    </p>
</div>
<div fxLayout="row" fxLayoutAlign="start">
    <div style="width: 35%;font-size: .95em;">
        <span style="font-weight:bold;">
              Residential Tenancy Branch
            </span><br>
        <span style="font-size: .85em;">
              Office of Housing and<br>
              Construction Standards<br>
              #RTB-30 (2020/03/03)
            </span>
    </div>
    <div style="width: 45%;" class="spacer">
        Landlord must sign page 1 and give the tenant all pages of this Notice.
    </div>
    <div style="width: 30%;text-align: right;">
        <span style="font-weight:400;">page 1 of 3 pages</span>
    </div>

</div>
<div style="border: 1px solid black;">
    <p style="font-weight: bold;color: white;background-color: #1150af;padding: 10px;margin-bottom: 0;">I am ending your tenancy because:</p>
    <form [formGroup]="detailsForm">
        <div fxLayout="row" fxLayoutAlign="start">
            <div style="width:25%" style="margin-left: 5px;">
                <mat-checkbox formControlName="outstandingRent" checked>Yuo have failed to pay the rent<br> in the amount of</mat-checkbox>
                <!-- [checked]="outstandingRent > 0" -->
            </div>
            <div style="width:25%">
                <mat-form-field style="margin-right: 10px;width: 85%;">
                    <input type="text" style="height: 30px;padding-left: 0;margin-top: -30px;margin-left: 10px;" [value]="outstandingRent" name="outstandingRent">
                </mat-form-field>
            </div>
            <div style="width:25%">Due on DD/MM/YYYY</div>
            <div style="width:25%">
                <mat-form-field style="margin-right: 10px;width: 85%;">
                    <input type="text" style="height: 30px;padding-left: 0;margin-top: -30px;margin-left: 10px;" [value]="utilityDueDate" name="utilityDueDate">
                </mat-form-field>
            </div>

        </div>
    </form>

</div>
