<!-- <app-agreement-header></app-agreement-header> -->
<div fxLayout="row" fxLayoutAlign="end" class="header">
    <div fxFlex="30%"></div>
    <div fxFlex="30%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->
        <img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;">
    </div>
    <div fxFlex="30%"></div>
    <div fxFlex="30%" style="text-align: right;font-weight: bold;font-size: 1.2em;">
        Residential<br> Tenancy Agreement
    </div>
</div>
<div>something else</div>