<div class="container" fxLayout="row" fxLayoutAlign="end" fxFlexFill>
    <div fxFlex="30%"><img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;margin-top: 15px;"></div>
    <div fxFlex="5%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->

    </div>
    <div fxFlex="10%"></div>
    <div fxFlex="50%" style="text-align: right;font-weight: bold;font-size: 1.2em;margin-top: 15px;">
        Mutual Agreement to End a Tenancy<br>
        <span>#RTB-8</span>

    </div>
</div>
<div class="container" style="border: 2px solid black">
    <div>
        <span style="text-transform: uppercase; font-weight: bold;">NOTE:</span> This form is NOT a Notice to End Tenancy. Neither a Landlord nor a Tenant is under any obligation to sign this form. By signing this form, both parties understand and agree
        the tenancy will end with no further obligation between landlord(s) or tenant(s). If you are the tenant, this may include foregoing any compensation you may be due if you were served a Notice to End Tenancy. If you have questions about tenant
        or landlord rights and responsibilities under the Residential Tenancy Act or the Manufactured Home Part Tenancy Act, contact the Residential Tenancy Branch using the information provided at the bottom of this form before you sign.
    </div>

    <div>

    </div>
</div>
<div style="text-align: center; font-weight: 600;padding-top: 10px;padding-bottom: 10px;color: white;background: rgb(17, 80, 175);">
    This is a Mutual Agreement between the Landlord and Tenant
</div>