<div class="container" fxLayout="row" fxLayoutAlign="end" fxFlexFill>
    <div fxFlex="30%"><img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;margin-top: 15px;"></div>
    <div fxFlex="5%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->

    </div>
    <div fxFlex="10%"></div>
    <div fxFlex="50%" style="text-align: right;font-weight: bold;font-size: 1.2em;margin-top: 15px;">
        Mutual Agreement to End a Tenancy<br>
        <span>#RTB-8</span>

    </div>
</div>
<div class="container" style="padding: 0; border: 2px solid rgb(160, 144, 144)">
    <div style="font-size: 0.9em;">
        <span style="text-transform: uppercase; font-weight: bold;">NOTE:</span> This form is NOT a Notice to End Tenancy. Neither a Landlord nor a Tenant is under any obligation to sign this form. By signing this form, both parties understand and agree
        the tenancy will end with no further obligation between landlord(s) or tenant(s). If you are the tenant, this may include foregoing any compensation you may be due if you were served a Notice to End Tenancy. If you have questions about tenant
        or landlord rights and responsibilities under the Residential Tenancy Act or the Manufactured Home Part Tenancy Act, contact the Residential Tenancy Branch using the information provided at the bottom of this form before you sign.
    </div>

    <div>

    </div>
</div>
<div style="text-align: center; font-weight: 500;padding-top: 10px;padding-bottom: 10px;color: white;background: rgb(17, 80, 175);">
    This is a Mutual Agreement between the Landlord and Tenant
</div>

<div class="section-title" style="border-top: 1px solid black;line-height: .6;">
    Landlord Information: (Use last name fi eld to enter a business name if applicable)
</div>
<table>
    <tr tyle="line-height: 1.25;">
        <td style="border-bottom: 0;width: 50%;padding-left: 5px;font-size: .9em;border-right: 1px solid;">First and middle name</td>
        <td style="border-bottom: 0;padding-left: 6px;font-size: .9em;border-right: 1px solid;">Last name(s)</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="border-top: 0;padding-left: 5px;border-right: 1px solid;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.firstName}}</td>
        <td style="border-top: 0;padding-left: 5px;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.lastName}}</td>
    </tr>
</table>
<p class="section-title" style="margin-bottom: 0;">
    Landlord’s Address:
</p>
<table>
    <tr class="address-title" style="line-height: 1.25;">
        <td style="width: 15%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">suite/unit #</td>
        <td style="width: 35%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">street # and name</td>
        <td style="width: 20%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">city</td>
        <td style="width:15%; font-size: .85em;border-right: 1px solid;padding-left: 5px;">province</td>
        <td style="width:15%;font-size: .85em;padding-left: 5px;"> postal code</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="width: 15%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;"><input type="text" style="border: 0; margin-top: -5px;"></td>
        <td style="width: 35%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.ownerAddress.streetNumber}}</td>
        <td style="width: 20%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.ownerAddress.city}}</td>
        <td style="width:15%; font-size: .85em;border-right: 1px solid;padding-left: 5px;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.ownerAddress.stateProvince}}</td>
        <td style="width:15%;font-size: .85em;padding-left: 5px;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.ownerAddress.zipPostCode}}</td>
    </tr>

</table>
<table>
    <tr>
        <td style="border-bottom: 0;width: 50%;padding-left: 5px;font-size: .9em;border-right: 1px solid;">Main Phone</td>
        <td style="border-bottom: 0;padding-left: 6px;font-size: .9em;">Other Phone</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="border-top: 0;padding-left: 5px;border-right: 1px solid;">{{agreement.rentalProperty.ownerProperty[0].rentalPropertyOwner.contactTelephone}}</td>
        <td style="border-top: 0;padding-left: 5px;"></td>
    </tr>
</table>

<p class="section-title" style="margin-bottom: 0;">
    Tenant Information:
</p>
<table>
    <tr tyle="line-height: 1.25;">
        <td style="border-bottom: 0;width: 50%;padding-left: 5px;font-size: .9em;border-right: 1px solid;">First and middle name</td>
        <td style="border-bottom: 0;padding-left: 6px;font-size: .9em;border-right: 1px solid;">Last name(s)</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="border-top: 0;padding-left: 5px;border-right: 1px solid;">{{agreement.tenant[0].firstName}}</td>
        <td style="border-top: 0;padding-left: 5px;">{{agreement.tenant[0].lastName}}</td>
    </tr>
</table>
<table>

    <tr class="address-title" style="line-height: 1.25;">
        <td style="width: 15%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">suite/unit #</td>
        <td style="width: 35%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">street # and name</td>
        <td style="width: 20%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">city</td>
        <td style="width:15%; font-size: .85em;border-right: 1px solid;padding-left: 5px;">province</td>
        <td style="width:15%;font-size: .85em;padding-left: 5px;"> postal code</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="width: 15%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;"></td>
        <td style="width: 35%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">{{agreement.rentalProperty.address.streetNum}}</td>
        <td style="width: 20%;border-bottom: 0;font-size: .85em;border-right: 1px solid;padding-left: 5px;">{{agreement.rentalProperty.address.city}}</td>
        <td style="width:15%; font-size: .85em;border-right: 1px solid;padding-left: 5px;">{{agreement.rentalProperty.address.stateProvince}}</td>
        <td style="width:15%;font-size: .85em;padding-left: 5px;">{{agreement.rentalProperty.address.zipPostCode}}</td>
    </tr>

</table>
<table>
    <tr>
        <td style="border-bottom: 0;width: 50%;padding-left: 5px;font-size: .9em;border-right: 1px solid;">Main Phone</td>
        <td style="border-bottom: 0;padding-left: 6px;font-size: .9em;">Other Phone</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="border-top: 0;padding-left: 5px;border-right: 1px solid;">{{agreement.tenant[0].contactTelephone1}}</td>
        <td style="border-top: 0;padding-left: 5px;">{{agreement.tenant[0].contactTelephone2}}</td>
    </tr>
</table>
<p class="section-title" style="margin-bottom: 0;">
    Signature:
</p>
<table>
    <tr>
        <td colspan="3" style="border-bottom: 0;width: 50%;padding-left: 5px;font-size: .9em;">
            The tenant(s) agrees to vacate the above named premises/site at:
        </td>
    </tr>
    <tr style="border-top: 1px solid;">
        <td style="padding-left: 5px;">
            time
        </td>
        <td></td>
        <td style="padding-left: 5px;">
            DD/MM/YYYY
        </td>
    </tr>
    <tr style="height: 40px;">
        <td style="width: 25%;background: #e4ebf3;padding-left: 5px;">
            12:00
        </td>
        <td style="width: 25%;padding-left: 15px;">
            <input type="radio"> &nbsp;AM
            <input type="radio" checked> &nbsp;PM
        </td>
        <td style="width: 50%;background: #e4ebf3;padding-left: 10px;">
            {{agreement.leaseEndDate | date: 'dd/MM/yyyy'}}
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<table>
    <tr tyle="line-height: 1.25;">
        <td style="border-bottom: 0;width: 50%;padding-left: 5px;font-size: .9em;border-right: 1px solid;">Signature of Landloard</td>
        <td style="border-bottom: 0;padding-left: 6px;font-size: .9em;border-right: 1px solid;">Signature of Tenant(s)</td>
    </tr>
    <tr style="height: 40px;background: #e4ebf3;">
        <td style="border-top: 0;padding-left: 5px;border-right: 1px solid;"><span style="color: #ccc;">Sign here</span></td>
        <td style="border-top: 0;padding-left: 5px;"><span style="color: #ccc;">Sign here</span></td>
    </tr>
</table>
<p style="text-align: center;margin-bottom: 0;font-size: .75em;">
    The parties recognize that the tenancy agreement between them will legally terminate and come to and end at the date and time stated above. It is also understood and agreed that this agreement is in accordance with the Residential Tenancy Act and the
    Manufactured Home Park Tenancy Act which states: “The landlord and tenant agree in writing to end the tenancy.”
</p>
<p style="text-align: center;margin-bottom: 0;">
    <span style="font-weight: 600;">FOR MORE INFORMATION:</span><br> www.gov.bc.ca/landlordtenant
    <br>
    <span style="font-weight: 600;">Phone: 1-800-665-8779 (toll-free) Greater Vancouver: 604-660-1020 Victoria: 250-387-1602</span>

</p>
<p style="margin-bottom: 0; margin-top: 5px;border-bottom: 16px solid #1150af;"></p>
<div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
    <div style="width: 35%;font-size: .95em;">
        <span style="font-weight:bold;font-style: italic;">
    Residential Tenancy Branch
  </span><br>
        <span style="font-size: .85em;">
    Office of Housing and<br>
    Construction Standards<br>
    #RTB-8 (2021/03)
  </span>
    </div>
    <div class="spacer"></div>
    <div>
        <span>page 1 of 1 pages</span>
    </div>

</div>
