.applicant-details-card {
    width: 100%;
    // background: #f5f5f5;
    background: transparent;
}

.applicant-details-card-content {
    height: 600px;
    background: #fafafa;
}

.applicant-full-width {
    width: 75%;
}

.applicant-full-width-1 {
    width: 75%;
    margin-top: 35px;
}

.property-list {
    list-style-type: none;
    margin-top: 10px;
}

.date-time {
    margin-top: 30px;
    font-size: .75em;
    font-style: italic;
}

.app-table {
    width: 70%;
    margin-top: 25px;
}

.title-cell {
    width: 40%;
    height: 30px;
    padding-bottom: 20px;
    font-weight: 600;
}

.value-cell {
    height: 30px;
    padding-bottom: 20px;
    font-weight: 500;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
    height: 550px;
}

// .coapp-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
// }
.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.user-card {
    background-color: #f5f5f5;
    color: #333;
    width: 250px;
    margin-right: 20px;
}

.details-panel {
    padding: 10px;
    font-size: .8em;
}

td,
th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
    text-align: center;
}

tr.mat-header-row {
    background: #fb8c00;
}

.mat-row:nth-child(even) {
    background-color: #e4e0e0;
}

.mat-row:nth-child(odd) {
    background-color: #ece5e5;
}

.mat-row:hover {
    background-color: rgb(233, 221, 221);
}

.mat-sort-header-button {
    margin-left: auto;
    margin-right: auto;
}

.table-header-text {
    font-size: 1.15em;
    color: white;
}

.add-tenant-card {
    background: #00c853;
    color: white;
    margin-top: 25px;
    width: 100px;
    height: 90px;
    margin-left: 12px;
}

.tenant-card {
    background: #006cc8;
    color: white;
    margin-top: 25px;
    width: 100px;
    height: 90px;
    margin-left: 12px;
}

.tenant-avatar {
    text-align: center;
}

tr.example-detail-row {
    height: 0;
}

.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    height: 100px;
    margin-top: 20px;
}