.applicant-details-card {
    width: 100%;
    // background: #f5f5f5;
    background: transparent;
}

.applicant-details-card-content {
    height: 600px;
    background: #fafafa;
}

.applicant-full-width {
    width: 75%;
}

.applicant-full-width-1 {
    width: 75%;
    margin-top: 35px;
}

.property-list {
    list-style-type: none;
    margin-top: 10px;
}

.date-time {
    margin-top: 30px;
    font-size: .75em;
    font-style: italic;
}

.app-table {
    width: 70%;
    margin-top: 25px;
}

.title-cell {
    width: 40%;
    height: 30px;
    padding-bottom: 20px;
    font-weight: 600;
}

.value-cell {
    height: 30px;
    padding-bottom: 20px;
    font-weight: 500;
}
