<p>
  property-list works! <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</p>
<p>
  <button mat-button color="accent" (click) = GetPropertyDetails(1)>Get Property Details</button>
</p>
<p>
  <button mat-button color="accent" (click) = AddProperty()>Add Property Details</button>
</p>

<p>
  <button mat-button color="accent" (click) = UpdateProperty()>Update Property</button>
</p>

<p>
  <button mat-button color="accent" (click) = UpdatePropertyStatus()>Update Property Status</button>
</p>

<p>
  <button mat-button color="accent" (click) = RemoveProperty()>Remove Property</button>
</p>
