<!-- <p>*ngIf="!(loading$ | async) && listing else spinner"
  open-house-details works!
</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill>
    <div fxFlex="10%" fxLayoutAlign="end">
        <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <span>
        <img src="../../assets/images/10621.jpg" style="border-radius: 50%;" width="120px " height="120px" title="">
      </span>
        <div class="side-info">
            <h6>Open house Attendees</h6>
            <div>
                <ul *ngIf="openhouse.viewers;else msg" style="list-style: none;margin-left: -30px;font-size: .8em;">
                    <li *ngFor="let viewer of openhouse.viewers" style="margin-bottom: 8px;">
                        <span style="font-style: italic;">{{viewer.firstName}} {{viewer.lastName}}</span> -- {{viewer.contactEmail}}, {{viewer.contactTel}}
                    </li>
                </ul>
                <ng-template #msg style="margin-left: 60px;" style="list-style: none;font-size: .8em;">
                    No viewers registered at this moment!
                </ng-template>
            </div>
        </div>

    </div>

    <div fxFlex="70%">
        <mat-card class="openhouse-details-card">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="listing-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #193fe6; margin-left: 5px; ">
                      group_work
              </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"-->
                </div>
                <mat-card-title>Open House: ID: {{openhouse.id}} </mat-card-title>
                <mat-card-subtitle>Rental Property: {{openhouse.propertyName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="openhouse-details-card-content">
                <form fxLayout="column" fxLayoutGap="7px" fxLayoutAlign="center center" [formGroup]="detailsForm" (ngSubmit)="submit()" style="margin-left: 20px;">
                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="center start" style="width: 100%;">
                        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start" style="width:50%; margin-top:25px; margin-left: 20px;" *ngIf="listing">
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <h6>Property & Listing Info</h6>
                            <p></p>
                            <p></p>
                            <p style="font-weight: bold;">Listing:</p>
                            <p></p>
                            <p>
                                <span style="font-style:italic;">Listing ID:</span> &nbsp; {{listing.id}} - {{listing.title}}<br> {{listing.propertyType}}
                                <br>
                                <span style="font-style:italic;">Monthly Rent:</span>{{listing.monthlyRent}}
                            </p>

                            <p style="font-weight: bold;">Property</p>
                            <p>
                                <span style="font-style:italic;">Property Name/Alias:</span> &nbsp; {{openhouse.propertyName}}<br>
                            </p>
                            <p></p>
                            <p>
                                <span style="font-style:italic;">Address:</span>
                            </p>
                            <p>
                                {{openhouse.address.streetNum}} <br> {{openhouse.address.city}} {{openhouse.address.stateProvince}}<br> {{openhouse.address.zipPostCode}} {{openhouse.address.country}}
                            </p>
                        </div>
                        <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start start" style="width:50%; margin-top: 25px;">
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <p></p>
                            <mat-form-field style="margin-right: 10px; width: 90%;">
                                <mat-label>Open House Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="openhouseDate" [ngModel]="openhouse.openhouseDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="form-content" style="width: 90%;">
                                <mat-icon matSuffix>av_timer</mat-icon>
                                <input formControlName="startTime" matInput placeholder="Start Time: e.g. 2:00pm" [ngModel]="openhouse.startTime">
                            </mat-form-field>
                            <mat-form-field class="form-content" style="width: 90%;">
                                <mat-icon matSuffix>av_timer</mat-icon>
                                <input formControlName="endTime" matInput placeholder="End Time: e.g. 4:00pm" [ngModel]="openhouse.endTime">
                            </mat-form-field>
                            <mat-form-field class="property-full-width" style="width: 90%;">
                                <mat-label>Note</mat-label>
                                <textarea matInput formControlName="notes" [ngModel]="openhouse.notes"></textarea>
                            </mat-form-field>
                        </div>

                    </div>

                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 90%; margin-bottom: 20px;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
<img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/> [disabled]="f.invalid || !f.dirty"-->
                        <button type="submit" mat-raised-button color="primary">UPDATE</button>
                        <button type="button" mat-raised-button color="accent" (click)="clear()">CANCEL</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

</div>

<div *ngIf="loading$ | async">
    <app-loading></app-loading>
</div>
