<!-- <p>
  contract-footer works!
</p> -->
<div fxLayout="column" fxLayoutAlign="center" class="container">
    <mat-divider></mat-divider>
    <p style="margin-top: 20px;">
        Signed on the ______th day of the month of __________ in the year of ________ at <br> City of _______________________ in the province of __________________, Canada.
    </p>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="start" class="signature" style="margin-top: 20px;">
        <div fxFlex="50">
            <p>
                Signature: _________________________________
            </p>
            <p>
                Print Name _________________________________
            </p>
            <p>
                Signature: _________________________________
            </p>
            <p>
                Print Name _________________________________
            </p>
        </div>
        <div fxFlex="50">
            <p>
                Signature: _________________________________
            </p>
            <p>
                Print Name _________________________________
            </p>

        </div>

    </div>
</div>
