.contract-add-card {
    width: 100%;
    background: transparent;
}

.contract-add-card-content {
    min-height: 650px;
    background: #fafafa;
}

.add-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.selection {
    margin-top: 10px;
}

.content {
    border: 1px solid;
    padding: 10px;
    height: 500px;
    background: #ecebeb;
    overflow-y: auto;
}

.submit-button {
    align-items: end;
    /* align-content: end; */
    /* float: right; */
    /* float: left; */
    width: 100%;
    margin-top: 35px;
}

.icon-pos {
    vertical-align: middle;
}

.e-rte-content {
    overflow-y: scroll;
    height: 300px;
}

.e-richtexteditor .e-rte-content .e-content,
.e-richtexteditor .e-source-content .e-content {
    overflow-y: scroll;
    height: 280px;
}