<!-- <p>
  add-contract works!
</p> -->
<mat-card class="contract-add-card">
    <mat-card-header style="background-color: #f5f5f5;">
        <div mat-card-avatar class="property-list-header-image">
            <i class="material-icons" style="font-size: 2.5em;color: #3d5afe; margin-left: 5px;">
          note_add
      </i>
            <!-- <img src="../../assets/images/pmgmnt.png" height="40px" width="40px"> (ngSubmit)="onSubmit()"-->
        </div>
        <mat-card-title>Add New Contract</mat-card-title>
        <mat-card-subtitle>Add new property management contract</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="contract-add-card-content">
        <form [formGroup]="addForm" class="add-form" (ngSubmit)="submit()">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="1%" fxFlexFill>
                <div style="width: 59%;">
                    <!-- <p>part 1</p> -->
                    <mat-form-field style="margin-top: 25px;width: 90%;">
                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input matInput type="text" placeholder="Contract Title" formControlName="managementContractTitle" id="title">
                        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint>
          <mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error> -->
                    </mat-form-field>
                    <!-- <mat-option>None</mat-option> -->
                    <!-- <mat-form-field style="width: 70%;">
                        <mat-label>Contract Type</mat-label>
                        <mat-select id="propertyType1" formControlName="managementContractType">

                            <mat-option value="New">New</mat-option>
                            <mat-option value="Renewal">Renewal</mat-option>[(ngModel)]="managementContractType"
                        </mat-select>
                    </mat-form-field> -->
                    <div class="selection">
                        <mat-radio-group aria-label="Select an option" style="margin-top: 13px; padding-right: 5px;" formControlName="managementContractType">
                            <mat-radio-button value=1 checked style="padding-right: 10px;margin-right: 25px;">New</mat-radio-button>
                            <mat-radio-button value=2>Renewal</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" style="width: 90%;">
                        <mat-form-field style="margin-right: 10px; width: 50%;">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field style="width: 50%;">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" style="width: 90%;">
                        <mat-form-field style="margin-right: 10px; width: 50%;">
                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                            <input matInput type="text" placeholder="Placement Fee" formControlName="placementFeeScale" id="fee">
                        </mat-form-field>
                        <mat-form-field style="width: 50%;">
                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                            <input matInput type="text" placeholder="Management Fee" formControlName="managementFeeScale" id="fee">
                        </mat-form-field>
                    </div>
                    <mat-form-field style="width: 90%;">
                        <mat-label>Select Property</mat-label>
                        <mat-select #mySelect (selectionChange)="onChange(mySelect.value)">
                            <mat-option *ngFor="let property of properties" [value]="property.id">
                                {{property.propertyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 90%;">
                        <!-- <input matInput type="text" placeholder="Property Name" formControlName="propertyName" id="title"> -->
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                    </mat-form-field>
                    <!-- <mat-form-field style="width: 70%;">
                    <input matInput type="text" placeholder="Property Name" formControlName="propertyName" id="title">

                </mat-form-field> -->

                </div>
                <div style="width: 59%;" fxLayout="column">
                    <h5 style="font-size: 1.5em;
                    margin-top: 20px;
                    font-variant: all-petite-caps;">contract contents &nbsp;
                        <span>
                      <a mat-button style="font-size: .8em;" (click)="EditContent()">
                        <span *ngIf="!edit">Edit</span><span *ngIf="edit">Cancel</span>
                        </a>
                        </span>
                    </h5>
                    <div class="content" *ngIf="!edit">
                        <app-contract-content></app-contract-content>
                    </div>
                    <div class="content" *ngIf="edit">
                        <app-contract-content-editor></app-contract-content-editor>
                    </div>

                </div>
            </div>
            <div class="submit-button">
                <button mat-button type="button" style="float: right;background: #ff5722; color: white;margin-right: 5px;" (click)="cancel()">Cancel</button>
                <button mat-button style="float: right;background: #11c447; color: white;">Submit</button>
                <!-- (click)="submit(addForm.value)" -->
            </div>
        </form>
    </mat-card-content>
</mat-card>
