<!-- <p>
  add-lease works!
</p> -->
<mat-card class="lease-add-card">
    <mat-card-header style="background-color: #f5f5f5;">
        <div mat-card-avatar class="property-list-header-image">
            <i class="material-icons" style="font-size: 2.5em;color: #0c8f1e; margin-left: 5px;">
      note_add
  </i>
            <!-- <img src="../../assets/images/pmgmnt.png" height="40px" width="40px"> (ngSubmit)="onSubmit()"-->
        </div>
        <mat-card-title>Add New Lease/Rental Agreement</mat-card-title>
        <mat-card-subtitle>Add new lease/rental agreementct</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="lease-add-card-content">
        <form [formGroup]="addForm" class="add-form" (ngSubmit)="submit()">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="1%" fxFlexFill>
                <div fxFlex="50%" fxFlex.xs="80%">
                    <mat-form-field style="margin-top: 25px;width: 90%;">
                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input matInput type="text" placeholder="Lease Title" formControlName="leaseTitle" id="title">
                        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint>
<mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
<mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error> -->
                    </mat-form-field>
                    <mat-form-field style="margin-top: 25px;width: 90%;">
                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input matInput type="text" placeholder="Description" formControlName="leaseDesc" id="desc">
                        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint>
<mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
<mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error> -->
                    </mat-form-field>
                    <mat-form-field style="width: 90%;">
                        <mat-label>Select Rental Property</mat-label>
                        <mat-select #mySelect (selectionChange)="onPropertyChange(mySelect.value)">
                            <div *ngIf="properties$ | async; else loading">
                                <mat-option *ngFor="let property of properties$ | async" [value]="property.id">
                                    {{property.propertyName}}
                                </mat-option>
                            </div>
                            <ng-template #loading>
                                <mat-option>
                                    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                                </mat-option>
                            </ng-template>


                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 90%;">
                        <mat-label>Select Newe Tenant</mat-label>
                        <mat-select #mySelect2 (selectionChange)="onTenantChange(mySelect2.value)">
                            <div *ngIf="newTenants$ | async; else loading2">
                                <mat-option *ngFor="let tenant of newTenants$ | async" [value]="tenant.id">
                                    {{tenant.firstName}} {{tenant.lastName}}
                                </mat-option>
                            </div>
                            <ng-template #loading2>
                                <mat-option>
                                    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                                </mat-option>
                            </ng-template>

                        </mat-select>
                    </mat-form-field>
                    <div fxLayout="row" fxLayout.xs="column" style="width: 90%;">
                        <mat-form-field fxFlex="50%" fxFlex.xs="90%" style="margin-right: 10px;">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="leaseStartDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" fxFlex.xs="90%" style="margin-right: 10px;">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="leaseEndDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 90%;">
                        <div fxFlex="50%">
                            <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                <input type="text" id="rentAmount" formControlName="rentAmount" matInput placeholder="Monthly Rent(CAD$)">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Rent Frequency</mat-label>
                                <mat-select id="rentDueOn" formControlName="rentDueOn">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">Monthly</mat-option>
                                    <mat-option value="2">Quarterly</mat-option>
                                    <mat-option value="3">Six Month</mat-option>
                                    <mat-option value="4">Yearly</mat-option>
                                    <mat-option value="5">Other</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                <input type="text" id="rentFrequency" formControlName="rentFrequency" matInput placeholder="Rent Frequency"> -->
                            <!-- </mat-form-field> -->
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 90%;">
                        <div fxFlex="50%">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Rent Due Date</mat-label>
                                <mat-select id="rentDueOn" formControlName="rentDueOn">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">Frist Day of Month</mat-option>
                                    <mat-option value="2">15th Day of Month</mat-option>
                                    <mat-option value="3">Last Day of Month</mat-option>
                                    <mat-option value="4">Other</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                <input type="text" id="rentDueOn" formControlName="rentDueOn" matInput placeholder="Rent Due">
                            </mat-form-field> -->
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                <input type="text" id="renewTerm" formControlName="renewTerm" matInput placeholder="Renew Terms">
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" style="width: 90%;">
                        <div fxFlex="50%">
                            <!-- <mat-form-field fxFlex="90%">
                                <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                <input type="text" id="term" formControlName="term" matInput placeholder="Lease Term">
                            </mat-form-field> -->
                            <mat-form-field style="width: 90%;">
                                <mat-label>Lease Term</mat-label>
                                <mat-select id="term" formControlName="term">
                                    <mat-option>None</mat-option>
                                    <mat-option value="OneYear">One Year</mat-option>
                                    <mat-option value="ThreeMonth">Three Month</mat-option>
                                    <mat-option value="SixMonth">Six Month</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Lease End Code</mat-label>
                                <mat-select id="leaseEndCode" formControlName="leaseEndCode">
                                    <mat-option value="0">None</mat-option>
                                    <mat-option value="1">Renew Month by Month</mat-option>
                                    <mat-option value="2">Renew for other term</mat-option>
                                    <mat-option value="3">Fixed Term and Renew the Term</mat-option>
                                    <mat-option value="4">Fixed Term and Vacant</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                <input type="text" id="endLeaseCode" formControlName="leaseEndCode" matInput placeholder="End Lease Code">
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 90%;">
                        <div fxFlex="50%">
                            <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                <input type="text" id="damage" formControlName="damageDepositAmount" matInput placeholder="Damage Deposit(CAD$)">
                            </mat-form-field>
                        </div>
                        <div fxFlex="50%">
                            <mat-form-field class="lease-full-width">
                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                <input type="text" id="pet" formControlName="petDepositAmount" matInput placeholder="Pet Deposit(CAD$)">
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-form-field class="lease-full-width" style="width: 90%;">
                        <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                        <textarea type="text" id="notes" formControlName="notes" matInput placeholder="Notes"></textarea>
                    </mat-form-field>

                </div>
                <div fxFlex="50%" fxFlex.xs="80%" fxLayout="column" fxFlexFill>
                    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" style="width:75%;margin-top: 25px;margin-left:45px ;">
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45" fxLayoutGap="10px" style="margin-left: 25px;">
                            <mat-checkbox formControlName="water" class="property-full-width">Water</mat-checkbox>
                            <mat-checkbox formControlName="cablevison" class="property-full-width">Cable TV</mat-checkbox>
                            <mat-checkbox formControlName="electricity" class="property-full-width">Electricity</mat-checkbox>
                            <mat-checkbox formControlName="internet" class="property-full-width">Internet</mat-checkbox>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45" fxLayoutGap="10px">
                            <mat-checkbox formControlName="heat" class="property-full-width">Heat</mat-checkbox>
                            <mat-checkbox formControlName="naturalGas" class="property-full-width">Natural Gas</mat-checkbox>
                            <mat-checkbox formControlName="sewageDisposal" class="property-full-width">Sewage Disposal</mat-checkbox>
                            <mat-checkbox formControlName="snowRemoval" class="property-full-width">Snow Removal</mat-checkbox>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45" fxLayoutGap="10px">
                            <mat-checkbox formControlName="storage" class="property-full-width">Storage</mat-checkbox>
                            <mat-checkbox formControlName="recreationFacility" class="property-full-width">Recreation Facility</mat-checkbox>
                            <mat-checkbox formControlName="garbageCollection" class="property-full-width">Garbage Collection</mat-checkbox>
                            <mat-checkbox formControlName="recycleServices" class="property-full-width">Recycle Services</mat-checkbox>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">
                            <mat-checkbox formControlName="kitchenScrapCollection" class="property-full-width">Laundry</mat-checkbox>
                            <mat-checkbox formControlName="laundry" class="property-full-width">Window Blinds</mat-checkbox>
                            <mat-checkbox formControlName="sewageDisposal" class="property-full-width">Furniture</mat-checkbox>

                        </div>

                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45" fxLayoutGap="10px">
                            <mat-checkbox formControlName="dishwasher" class="property-full-width">Dishwasher</mat-checkbox>
                            <mat-checkbox formControlName="stoveOven" class="property-full-width">Stove/Oven</mat-checkbox>
                            <mat-checkbox formControlName="regigerator" class="property-full-width">Refrigerator</mat-checkbox>
                            <mat-checkbox formControlName="windowCovering" class="property-full-width">Window Covering</mat-checkbox>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45" fxLayoutGap="10px">
                            <mat-checkbox formControlName="furniture" class="property-full-width">Furniture</mat-checkbox>
                            <mat-checkbox formControlName="carpets" class="property-full-width">Carpets</mat-checkbox>
                            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                                <mat-checkbox formControlName="parkingStall" class="property-full-width">Parking Stall</mat-checkbox>
                                <mat-form-field class="property-full-width" fxFlex="30" style="margin-top: 25px;">
                                    <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                    <input type="number" id="numberOfLayers" formControlName="numberOfParking" matInput placeholder="Number of Parking">
                                </mat-form-field>
                            </div>
                            <!--

                            <mat-form-field class="property-full-width">
                                <mat-label>Notes</mat-label>
                                <textarea matInput formControlName="other"></textarea>
                            </mat-form-field> -->


                        </div>
                        <mat-form-field class="property-full-width" style="width: 90%;">
                            <mat-label>Other</mat-label>
                            <textarea matInput formControlName="other"></textarea>
                        </mat-form-field>
                    </div>

                    <!-- <div fxLayout="row" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">


                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" style="width:75%;margin-top: 25px;margin-left:45px ;">

                    </div> -->

                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 100%; margin-bottom: 20px;">
                <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
<img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/> [disabled]="f.invalid || !f.dirty"-->
                <button type="submit" mat-raised-button color="primary">UPDATE</button>
                <button mat-raised-button color="accent">CANCEL</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
