<!-- <p>
  add-lease works!
</p> -->
<mat-card class="lease-add-card">
    <mat-card-header style="background-color: #f5f5f5;">
        <div mat-card-avatar class="property-list-header-image">
            <i class="material-icons" style="font-size: 2.5em;color: #0c8f1e; margin-left: 5px;">
      note_add
  </i>
            <!-- <img src="../../assets/images/pmgmnt.png" height="40px" width="40px"> (ngSubmit)="onSubmit()"-->
        </div>
        <mat-card-title>Add New Lease/Rental Agreement</mat-card-title>
        <mat-card-subtitle>Add new lease/rental agreementct</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="lease-add-card-content">
        <form [formGroup]="addForm" class="add-form" (ngSubmit)="submit()">
            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start" fxLayoutGap="1%" fxFlexFill>
                <div fxFlex="50%" fxFlex.xs="80%">
                    <mat-form-field style="margin-top: 25px;width: 90%;">
                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input matInput type="text" placeholder="Lease Title" formControlName="leaseTitle" id="title">
                        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint>
<mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
<mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error> -->
                    </mat-form-field>
                    <mat-form-field style="margin-top: 25px;width: 90%;">
                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input matInput type="text" placeholder="Description" formControlName="leaseDesc" id="desc">
                        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint>
<mat-error *ngIf="hasError('title', 'required')">Name is required</mat-error>
<mat-error *ngIf="hasError('title', 'maxlength')">You have more than 60 characters</mat-error> -->
                    </mat-form-field>
                    <mat-form-field style="width: 90%;">
                        <mat-label>Select Rental Property</mat-label>
                        <mat-select #mySelect (selectionChange)="onPropertyChange(mySelect.value)">
                            <div *ngIf="properties$ | async; else loading">
                                <mat-option *ngFor="let property of properties$ | async" [value]="property.id">
                                    {{property.propertyName}}
                                </mat-option>
                            </div>
                            <ng-template #loading>
                                <mat-option>
                                    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                                </mat-option>
                            </ng-template>


                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width: 90%;">
                        <mat-label>Select Newe Tenant</mat-label>
                        <mat-select #mySelect2 (selectionChange)="onTenantChange(mySelect2.value)">
                            <div *ngIf="newTenants$ | async; else loading2">
                                <mat-option *ngFor="let tenant of newTenants$ | async" [value]="tenant.id">
                                    {{tenant.firstName}} {{tenant.lastName}}
                                </mat-option>
                            </div>
                            <ng-template #loading2>
                                <mat-option>
                                    <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
                                </mat-option>
                            </ng-template>

                        </mat-select>
                    </mat-form-field>
                    <div fxLayout="row" fxLayout.xs="column" style="width: 90%;">
                        <mat-form-field fxFlex="50%" fxFlex.xs="90%" style="margin-right: 10px;">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="leaseStartDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="50%" fxFlex.xs="90%" style="margin-right: 10px;">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="leaseEndDate">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="50%" fxFlex.xs="80%">
                    second part
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
