.owner-details-card {
    width: 100%;
    // background: #f5f5f5;
    background: transparent;
}

.owner-details-card-content {
    min-height: 600px;
    background: #fafafa;
}

.owner-full-width {
    width: 75%;
}

.owner-full-width-1 {
    width: 75%;
    margin-top: 35px;
}

.property-list {
    list-style-type: none;
    margin-top: 10px;
}

.date-time {
    margin-top: 30px;
    font-size: .75em;
    font-style: italic;
}