<!-- <p>
  owner-details works! {{id}}
</p> title="{{property.propertyName}}"*ngIf="property"-->

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill>
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="http://placehold.it/120x120" style="border-radius: 50%;" width="120px" height="120px">
    </div>
    <div fxFlex="70%">
        <mat-card class="owner-details-card" >
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="property-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
              person
            </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"-->
                </div>
                <mat-card-title>Property Owner: </mat-card-title>
                <mat-card-subtitle>Contact: </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="owner-details-card-content">
            <div fxLayout="column" fxLayoutAlign="start center">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()" style="width: 100%;">
                    
                    <mat-form-field class="owner-full-width-1" style="margin-top: 25px;">
                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input type="text" id="firstName" formControlName="firstName" matInput placeholder="First Name" name="firstName">
                        <!-- {{firstName}} -->

                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="owner-full-width" style="margin-top: 25px;">
                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input type="text" id="lastName" formControlName="lastName" matInput placeholder="Last Name" name="lastName">
                        <!-- {{firstName}} -->

                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                    </mat-form-field>
                    <mat-form-field class="owner-full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <mat-form-field class="owner-full-width">
                        <span class="iocn-pos" matPrefix><mat-icon>library_books</mat-icon> &nbsp;</span>
                        <input type="text" id="contactEmail" formControlName="contactEmail" matInput placeholder="Contact Email">
                        <!-- {{firstName}} -->

                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                    </mat-form-field>
                   
                </form>
            </div>
            </mat-card-content>

        </mat-card>
    </div>
</div>
