.owner-details-card {
    width: 100%;
    // background: #f5f5f5;
    background: transparent;
}

.owner-details-card-content {
    height: 600px;
    background: #fafafa;
}

.owner-full-width {
    width: 75%;
}

.owner-full-width-1 {
    width: 75%;
    margin-top: 35px;
}
