<!-- <p>
  full-lease-agreement works!
</p> -->
<div class="view-container" *ngIf="agreementDetails">
    <!-- agreement$ | async -->
    <div id="pdfdoc" #pdfdoc>
        <app-agreement-header></app-agreement-header>
        <app-agreement-content [lease]="agreementDetails" [agent]="user"></app-agreement-content>
        <div *ngIf="numberOfTenants > 2">
            <app-agreement-party-view [pageNumber]="totalPageNumber" [tenantNo]="numberOfTenants" [pageNum]="1" [lease]="agreementDetails"></app-agreement-party-view>
        </div>
        <div *ngIf="numberOfLandlords > 2">
            <app-agreement-party-view2 [pageNumber]="totalPageNumber" [pageNum]="pageNumber" [landlordNo]="numberOfLandlords" [lease]="agreementDetails"></app-agreement-party-view2>
        </div>
        <div *ngIf="agreementDetails.muutalAgreement">
            <app-mutual-agreement [agreement]="agreementDetails"></app-mutual-agreement>
        </div>

    </div>

</div>
<div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" class="button" style="margin-top: 30px;">
    <button type="button" mat-raised-button color="primary" (click)="download()"><mat-icon style="color: green;">file_download</mat-icon> &nbsp;Download PDF</button>
    <button mat-raised-button color="accent" (click)="Ok()">Ok</button>
</div>
