<!-- <p>
  full-lease-agreement works!
</p> -->
<div class="view-container" *ngIf="agreementDetails">
    <!-- agreement$ | async -->
    <div id="pdfdoc" #pdfdoc>
        <app-agreement-header></app-agreement-header>
        <app-agreement-content [lease]="agreementDetails" [agent]="user"></app-agreement-content>

        <div *ngIf="numberOfTenants > 2">
            <app-agreement-party-view [pageNumber]="totalPageNumber" [tenantNo]="numberOfTenants" [pageNum]="1" [lease]="agreementDetails"></app-agreement-party-view>
        </div>
        <div *ngIf="numberOfLandlords > 2">
            <app-agreement-party-view2 [pageNumber]="totalPageNumber" [pageNum]="pageNumber" [landlordNo]="numberOfLandlords" [lease]="agreementDetails"></app-agreement-party-view2>
        </div>
        <div *ngIf="agreementDetails.muutalAgreement">
            <app-mutual-agreement [agreement]="agreementDetails"></app-mutual-agreement>
        </div>

    </div>

</div>
<div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" class="button" style="margin-top: 30px;">
    <!-- <button type="button" mat-raised-button color="primary" (click)="save()"><mat-icon style="color: green;">save_as</mat-icon> &nbsp;SAVE</button> -->
    <div *ngIf="done">Done...</div>
    <div *ngIf="saving"><img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="></div>
    <button type="button" mat-raised-button color="primary" [matMenuTriggerFor]="appMenu"><mat-icon style="color: green;">settings_suggest</mat-icon> &nbsp;More options...</button>
    <button type="button" mat-raised-button color="primary" (click)="download()"><mat-icon style="color: green;">file_download</mat-icon> &nbsp;Download PDF</button>
    <button mat-raised-button color="accent" (click)="Ok()">Ok</button>
</div>

<mat-menu #appMenu="matMenu">
    <button class="menu-button" mat-menu-item (click)="save()"><mat-icon style="color: green;">save_as</mat-icon>&nbsp;Save final version</button>
    <button mat-menu-item (click)="openInput()"><mat-icon style="color: green;" >upload_file</mat-icon>&nbsp;Upload signed version</button>
</mat-menu>

<input #file id="fileInput" (change)="onChange(file.files)" hidden type="file" accept="application/pdf">
