<!-- <p>
  full-lease-agreement works!
</p> -->
<div class="view-container" *ngIf="agreement$ | async">

    <div id="pdfdoc" #pdfdoc>
        <app-agreement-header></app-agreement-header>
        <app-agreement-content [lease]="agreement$ | async"></app-agreement-content>
        <div *ngIf="numberOfTenants > 2">
            <app-agreement-party-view [pageNumber]="totalPageNumber" [tenantNo]="numberOfTenants" [landlordNo]="numberOfLandlords" [pageNum]="1" [lease]="agreement$ | async"></app-agreement-party-view>
        </div>
        <div *ngIf="numberOfLandlords > 2">
            <app-agreement-party-view [pageNumber]="totalPageNumber" [pageNum]="pageNumber" [lease]="agreement$ | async"></app-agreement-party-view>
        </div>

    </div>

</div>
<div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" class="button" style="margin-top: 30px;">
    <button type="button" mat-raised-button color="primary" (click)="download()">Download PDF</button>
    <button mat-raised-button color="accent" (click)="Ok()">Ok</button>
</div>