<div fxLayout="column" fxLayoutAlign="center" class="container">

    <div style="text-align: left;margin-top: 20px;line-height: 2;">
        <div style="text-align: center;">
            This agreement made and entered into this ___day of ___________, 20___ by and between
        </div>

        <div style="text-align: center;">
            <span style="font-weight: 600;">{{contract.property.ownerProperty[0].propertyOwner.firstName}} {{contract.property.ownerProperty[0].propertyOwner.lastName}}</span> (NAME OF THE OWNER) (“Owner” herein),
        </div>
        <div style="text-align: center;">
            and
        </div>
        <div style="text-align: center;">
            <span style="font-weight: 600;">{{user.firstname}} {{user.lastname}}</span>, the Property Management Agent, ((“Agent” herein).
        </div>

        <!-- This is a management contract between {{user.firstname}} {{user.lastname}} (Property Manager) and  (Client(s)) for the property -->
        <!-- {{contract.property.propertyName}} located on {{contract.property.address.propertyNumber}} {{contract.property.address.propertyStreet}} {{contract.property.address.propertyCity}} {{contract.property.address.propertyStateProvince}} {{contract.property.address.zipPostCode}}
    {{contract.property.address.propertyCountry}}. -->
    </div>
    <div style="margin-top: 10px;margin-bottom: 15px;">
        In consideration of the mutual covenants set forth herein, the parties agree as follows:
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;">
            <div fxFlex="2%" style="margin-top: 2px;font-weight: bold;">
                1
            </div>
            <div fxFlex="98%" style="line-height: 1.5;">
                Agent shall manage and operate the following described property commonly known as:<br> {{contract.property.address.propertyNumber}} {{contract.property.address.propertyStreet}} {{contract.property.address.propertyCity}} {{contract.property.address.propertyStateProvince}}
                {{contract.property.address.zipPostCode}} {{contract.property.address.propertyCountry}}(“Premise” herein).
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;">
            <div fxFlex="2%" style="margin-top: 2px;font-weight: bold;">
                2
            </div>
            <div fxFlex="98%" style="line-height: 1.5;">
                The term of this agreement shall be for a period of one year (twelve consecutive months), beginning on <span style="font-style: italic;font-weight: bold;">{{contract.startDate}}</span> and ending on <span style="font-style: italic;font-weight: bold;">{{contract.endDate}}</span>                and continuing thereafter for like periods; unless on or before (<span style="font-weight: bold;">60</span>) days prior to the expiration of any such period, either party hereto shall notify the other in writing of an intent to terminate
                this agreement, in which case this agreement may thereby be terminated as of the expiration of such period. See more on item 9 and 10 for Cancelation and Renewal policy.
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;">
            <div fxFlex="2%" style="margin-top: 2px;font-weight: bold;">
                3
            </div>
            <div fxFlex="98%" style="line-height: 1.5;">
                Agent understands and agrees that in the case that <sup>[1]</sup> the Owner has a unique relationship with the primary lessee of the Premises, and understands that the services described herein shall be performed for the benefit of both
                the Owner and primary lessee. However, Agent is the agent and representative of the Owner.
            </div>
        </div>
        <div style="margin-top: 30px;">
            <sup>[1]</sup> It only applies to the case that Owner already has tenant(s) in the above property, and the agent will take over the management.
        </div>
        <div style="margin-top: 35px; font-weight: 500;font-size: 1em;text-transform: uppercase;margin-bottom: 30px;">
            management duities
        </div>
        <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;">
            <div fxFlex="2%" style="margin-top: 2px;">
                1
            </div>
            <div fxFlex="98%" style="line-height: 1.5;">
                Agent shall manage the Premise with due diligence and is authorized and responsible on behalf of the Owner, for acts which are reasonably necessary for property management, including but not limited to the following:
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;">
            <div fxFlex="2%" style="margin-top: 2px;">
                2
            </div>
            <div fxFlex="98%" style="line-height: 1.5;">
                Coordinated Access System means a system established by the Service Manager in the service area in which the Premises is located for the provision of:
                <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;margin-top: 7px;">
                    <div fxFlex="5%" style="text-align: center;">
                        1)
                    </div>
                    <div fxFlex="90%">
                        information on rent-geared-to-income housing in the service area;
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;margin-top: 7px;">
                    <div fxFlex="5%" style="text-align: center;">
                        2)
                    </div>
                    <div fxFlex="90%">
                        application form for rent-geared-to-income housing;
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;margin-top: 7px;">
                    <div fxFlex="5%" style="text-align: center;">
                        3)
                    </div>
                    <div fxFlex="90%">
                        assessment of eligibility for rent-geared-to-income housing, special priority and other priority status; and
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" style="margin-bottom: 5px;margin-top: 7px;">
                    <div fxFlex="5%" style="text-align: center;">
                        4)
                    </div>
                    <div fxFlex="90%">
                        maintenance of subsidiary waiting lists of rent-geared-to-income applicants for housing providers.information on rent-geared-to-income housing in the service area;
                    </div>
                </div>



            </div>
        </div>


    </div>





    <!-- <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p> -->
</div>
