<div fxLayout="column" fxLayoutAlign="center" class="container">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aliquam quia beatae similique consectetur iusto perspiciatis, autem deleniti quis unde ratione eveniet, soluta maiores quisquam quas fugit ducimus, laudantium tenetur!
    </p>
</div>
