<!-- <p>
  add-owner works!
</p> -->
<mat-card class="owner-add-card">
    <mat-card-header style="background-color: #f5f5f5;">
        <div mat-card-avatar class="property-list-header-image">
            <i class="material-icons" style="font-size: 2.5em;color: #1a995e; margin-left: 5px;">
              person_add
  </i>
            <!-- <img src="../../assets/images/pmgmnt.png" height="40px" width="40px"> (ngSubmit)="onSubmit()"-->
        </div>
        <mat-card-title>Add Property Owner - <i class="material-icons" style="font-size: 1em;color: #e67214; margin-left: 5px; vertical-align: bottom;"> warning</i>
            <span style="font-size: .8em; color:#e67214 ;">You can only add existing or new owner to existing rental property!</span>
        </mat-card-title>
        <mat-card-subtitle>Add new owner to rental property</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="owner-add-card-content">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%" style="width: 90%;">
            <div fxLayout="row" style="width: 80%;">
                <div style="width: 50%;margin-top: 35px;">
                    <mat-form-field style="width: 90%;">
                        <mat-label>Select Property</mat-label>
                        <mat-select #mySelect (selectionChange)="onChange(mySelect.value)">
                            <mat-option *ngFor="let property of properties" [value]="property.id">
                                {{property.propertyName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p></p>
                    <div *ngIf="selected">
                        <p style="font-weight: bold;">Property Address</p>
                        {{address.street}} <br> {{address.city}} {{address.provState}} {{address.postZipCode}} <br> {{address.country}}

                    </div>
                </div>
                <div style="width: 50%;margin-top: 35px;">
                    <form [formGroup]="addForm" class="add-form">
                        <div class="selection" fxLayout="row">
                            <mat-radio-group aria-label="Select an option" style="margin-top: 13px;padding-right: 5px;" formControlName="ownerOption" [(ngModel)]="ownerOption">
                                <mat-radio-button value="existing" checked style="padding-right: 10px;">Add existing property owner</mat-radio-button>
                                <mat-radio-button value="new">Add a new property owner</mat-radio-button>
                            </mat-radio-group>
                            <!-- <p>{{ownerOption}}</p> -->
                        </div>

                        <div *ngIf="ownerOption == 'existing'" class="selectOwner">
                            <mat-form-field style="width: 90%;">
                                <mat-label>Select Property Owner</mat-label>
                                <mat-select #mySelect2 (selectionChange)="onOwnerChange(mySelect2.value)">
                                    <mat-option *ngFor="let owner of owners" [value]="owner.id">
                                        {{owner.firstName}} {{owner.lastName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="ownerOption == 'new'" class="selectOwner">
                            <div fxLayout="column">
                                <div [@.disabled]="true">
                                    <mat-tab-group>
                                        <mat-tab label="General" style="background: #f5f5f5;">
                                            <mat-form-field class="property-full-width" style="margin-top: 25px;width: 100%;">
                                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                <input type="text" id="firstName" formControlName="firstName" matInput placeholder="Owner First Name">

                                            </mat-form-field>
                                            <mat-form-field class="property-full-width" style="width: 100%;">
                                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                <input type="text" id="lastName" formControlName="lastName" matInput placeholder="Owner First Name">

                                            </mat-form-field>
                                            <mat-form-field class="property-full-width" style="width: 100%;">
                                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                <input type="text" id="emal" formControlName="contactEmail" matInput placeholder="Owner Email">

                                            </mat-form-field>
                                            <mat-form-field class="property-full-width" style="width: 100%;">
                                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                <input type="text" id="tel" formControlName="contactTelephone1" matInput placeholder="Owner Telephone">

                                            </mat-form-field>
                                            <mat-form-field class="property-full-width" style="width: 100%;">
                                                <!-- <input matInput type="text" placeholder="Property Name" formControlName="propertyName" id="title"> -->
                                                <mat-label>Notes</mat-label>
                                                <textarea matInput formControlName="notes"></textarea>
                                            </mat-form-field>
                                        </mat-tab>
                                        <mat-tab label="Address" style="background: #f5f5f5;">
                                            <div class="selection" fxLayout="column">
                                                <div style="margin-top: 25px;">
                                                    <mat-checkbox formControlName=" isSameAddress " (change)="statusChange($event) " class="property-full-width " style="margin-top: 30px; ">Same as Property Address</mat-checkbox>
                                                </div>
                                                <div *ngIf="!sameAddress " fxLayout="column ">
                                                    <mat-form-field class="property-full-width " fxFlex="85 " style="margin-top: 25px; ">
                                                        <span class="icon-pos " matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                        <input type="text " id="street " formControlName="ownerStreetNumber " matInput placeholder="Address: Number & Street ">

                                                    </mat-form-field>
                                                    <div fxLayout="row ">
                                                        <mat-form-field class="property-full-width " fxFlex="50 ">
                                                            <span class="icon-pos " matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                            <input type="text " id="city " formControlName="ownerCity " matInput placeholder="Address: City ">

                                                        </mat-form-field>
                                                        <mat-form-field class="property-full-width " fxFlex="45 " style="margin-left: 15px; ">
                                                            <span class="icon-pos " matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                            <input type="text " id="prov " formControlName="ownerStateProv " matInput placeholder="Address: Province/State ">

                                                        </mat-form-field>
                                                    </div>
                                                    <mat-form-field class="property-full-width " fxFlex="85 ">
                                                        <span class="icon-pos " matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                        <input type="text " id="post " formControlName="ownerZipPostCode " matInput placeholder="Address: Post/Zip Code ">

                                                    </mat-form-field>
                                                    <mat-form-field class="property-full-width " fxFlex="85 ">
                                                        <span class="icon-pos " matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                        <input type="text " id="country " formControlName="ownerCountry " matInput placeholder="Address: country ">

                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </mat-tab>

                                    </mat-tab-group>
                                </div>




                            </div>
                        </div>

                        <div class="submit-button">
                            <button mat-button type="button" style="float: right;background: #ff5722; color: white;margin-right: 5px;">Cancel</button>
                            <button mat-button style="float: right;background: #11c447; color: white;" (click)="submit(addForm.value)">Submit</button>

                        </div>
                    </form>

                </div>
            </div>

        </div>
        <!-- <form [formGroup]="addForm " class="add-form ">

        </form> -->
    </mat-card-content>
</mat-card>
