<!-- <p>
  add-property-finish works!
</p> -->

<div [formGroup]="addForm" style="height: 500px; overflow-y: auto;">
    <!-- <mat-radio-group aria-label="Select an option" formControlName="type">
      <mat-radio-button value="1" checked >New</mat-radio-button>
      <mat-radio-button value="2">Renewal</mat-radio-button>
  </mat-radio-group> -->

    <div style="height: 400px; overflow-y: auto; margin-top: 25px;">
        <!-- <div>
            <h5 style="margin-top: 25px;">Data Preview</h5>
        </div> -->
        <!-- <span class="line" style="margin-bottom: 40px;"></span> -->
        <!-- fxFlex="30" -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px" style="width: 100%;">
            <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
                <table>
                    <tr>
                        <td><span class="bold">Name: </span></td>
                        <td colspan="3">{{addForm.get("propertyName").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Description: </span></td>
                        <td colspan="3">{{addForm.get("propertyDesc").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Type: </span></td>
                        <td>{{addForm.get("type").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Build Year: </span></td>
                        <td colspan="3">{{addForm.get("propertyBuildYear").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Shared:</span> </td>
                        <td>{{addForm.get("isShared").value | yesNo}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Basedment: </span></td>
                        <td>{{addForm.get("isBasementSuite").value | yesNo}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Living Area(sqFT): </span></td>
                        <td colspan="3">{{addForm.get("totalLivingArea").value}}</td>
                    </tr>
                    <tr>
                        <!--this field does not need to be displayed-->
                        <td><span class="bold">Property Manager: </span></td>
                        <td colspan="3">{{addForm.get("propertyManagerUserName").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Others/Notes: </span></td>
                        <td colspan="3">{{addForm.get("facilityNotes").value}}</td>
                    </tr>

                </table>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30" fxLayoutGap="20px">
                <table style="margin-left: -45px;">
                    <tr>
                        <td><span class="bold">Street & Number: </span></td>
                        <td colspan="2">{{addForm.get("propertySuiteNumber").value}} {{addForm.get("propertyNumber").value}} {{addForm.get("propertyStreet").value}}</td>
                    </tr>
                    <!-- <tr>
                    <td><span class="bold">Proeprty Street: </span></td>
                    <td colspan="2">{{addForm.get("propertyStreet").value}}</td>
                </tr> -->
                    <tr>
                        <td><span class="bold">City: </span></td>
                        <td colspan="2">{{addForm.get("propertyCity").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Province/Sate: </span></td>
                        <td colspan="2">{{addForm.get("propertyStateProvince").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Post/Zip Code:</span> </td>
                        <td colspan="2">{{addForm.get("propertyZipPostCode").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Country: </span></td>
                        <td colspan="2">{{addForm.get("propertyCountry").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Owner Name: </span></td>
                        <td>{{addForm.get("firstName").value}} {{addForm.get("lastName").value}}</td>
                        <!-- <td></td> -->
                    </tr>
                    <tr>
                        <td><span class="bold">Owner Contact: </span></td>
                        <td>{{addForm.get("contactEmail").value}}</td>
                        <td>{{addForm.get("contactTelephone1").value}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Same Address: </span></td>
                        <td>{{addForm.get("isSameAddress").value | yesNo }}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Owner Address: </span></td>
                        <td>{{addForm.get("ownerStreetNumber").value}} {{addForm.get("ownerCity").value}} {{addForm.get("ownerStateProv").value}} {{addForm.get("ownerZipPostCode").value}} {{addForm.get("ownerCountry").value}}</td>
                    </tr>
                </table>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30" fxLayoutGap="20px">
                <table>
                    <tr>
                        <td><span class="bold">No of Bedrooms: </span></td>
                        <td>{{addForm.get("numberOfBedrooms").value}}</td>
                        <td><span class="bold">No of Bathrooms: </span></td>
                        <td>{{addForm.get("numberOfBathrooms").value}}</td>
                    </tr>
                    <!-- <tr>
            <td><span class="bold">No of Bathrooms: </span></td>
            <td>{{addForm.get("numberOfBathrooms").value}}</td>
          </tr> -->
                    <tr>
                        <td><span class="bold">No. of Layers: </span></td>
                        <td>{{addForm.get("numberOfLayers").value}}</td>
                        <td><span class="bold">No. of Parking: </span></td>
                        <td>{{addForm.get("numberOfParking").value}}</td>
                    </tr>
                    <!-- <tr>
            <td><span class="bold">No. of Parking: </span></td>
            <td>{{addForm.get("numberOfParking").value}}</td>
          </tr> -->
                    <tr>
                        <td><span class="bold">Stove:</span> </td>
                        <td>{{addForm.get("stove").value | yesNo}}</td>
                        <td><span class="bold">Frigde: </span></td>
                        <td>{{addForm.get("refrigerator").value | yesNo}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Dishwasher: </span></td>
                        <td>{{addForm.get("dishwasher").value | yesNo}}</td>
                        <td><span class="bold">Air Conditoner: </span></td>
                        <td>{{addForm.get("airConditioner").value | yesNo}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Laundry:</span> </td>
                        <td>{{addForm.get("laundry").value | yesNo}}</td>
                        <td><span class="bold">Win. Blinds: </span></td>
                        <td>{{addForm.get("blindsCurtain").value | yesNo}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Furniture: </span></td>
                        <td>{{addForm.get("furniture").value | yesNo}}</td>
                        <td><span class="bold">TV/Internet: </span></td>
                        <td>{{addForm.get("tvinternet").value | yesNo }}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Utilities:</span> </td>
                        <td>{{addForm.get("utilityIncluded").value | yesNo}}</td>
                        <td><span class="bold">Fire/Smoke Alarm: </span></td>
                        <td>{{addForm.get("fireAlarmSystem").value | yesNo}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Ccommon Facility: </span></td>
                        <td>{{addForm.get("commonFacility").value | yesNo}}</td>
                        <td><span class="bold">Security: </span></td>
                        <td>{{addForm.get("securitySystem").value | yesNo}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- (click)="submit(addForm.value) AddProperty()-->

    <div class="step-button">
        <button mat-button style="float: right;background: #11c447; color: white;" (click)="submit(addForm.value)">Submit</button>
        <button mat-button matStepperPrevious type="button" style="float: right;background: #ff5722; color: white;margin-right: 5px;">Back</button>
    </div>



</div>
