<!-- <p>
  servie-request-details works!
</p>-->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="request">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/tenant.png" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="">

        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Lease Info</span>
            <!-- <p>{{lease.rentalProperty.propertyName}}<br> {{lease.rentalProperty.address.city}} {{lease.rentalProperty.address.stateProvince}} {{lease.rentalProperty.address.zipPostCode}} <br> {{lease.rentalProperty.address.country}} -->
            <!-- </p> -->
            <p style="font-size:.85em">
                {{request.lease.leaseTitle}}<br>{{request.lease.leaseDesc}}<br>{{request.lease.leaseStartDate | date}}
            </p>
            <p></p>
            <span style="font-weight: 500;">Rental Unit</span>
            <!-- <p style="font-size:.85em" *ngIf="request.lease.rentalProperty">{{request.lease.rentalProperty.propertyName}}<br> {{request.lease.rentalProperty.address.city}} {{request.lease.rentalProperty.address.stateProvince}} {{request.lease.rentalProperty.address.zipPostCode}} <br> {{requestlease.rentalProperty.address.country}} -->

            <p style="font-size:.85em">
                {{request.lease.rentalProperty.propertyName}}<br> {{request.lease.rentalProperty.address.streetNum}}<br> {{request.lease.rentalProperty.address.city}} {{request.lease.rentalProperty.address.stateProvince}} <br>{{request.lease.rentalProperty.address.zipPostCode}}
                <!--  {{request.lease.rentalProperty.address.city}} {{request.lease.rentalProperty.address.stateProvince}} <br>{{request.lease.rentalProperty.address.zipPostCode}} <br> {{requestlease.rentalProperty.address.country}} -->
            </p>

            <p></p>

            <span style="font-weight: 500;">Requesting Tenant</span>
            <!-- <p>{{lease.rentalProperty.propertyName}}<br> {{lease.rentalProperty.address.city}} {{lease.rentalProperty.address.stateProvince}} {{lease.rentalProperty.address.zipPostCode}} <br> {{lease.rentalProperty.address.country}} -->
            <!-- </p> -->
            <p style="font-size:.85em">
                {{requestingTenant[0].firstName}} {{requestingTenant[0].lastName}}<br> {{requestingTenant[0].contactEmail}}
                <br> {{requestingTenant[0].contactTelephone1}}
            </p>
            <p></p>
            <span style="font-weight: 500;">Rental Unit</span>
            <!-- <p style="font-size:.85em" *ngIf="request.lease.rentalProperty">{{request.lease.rentalProperty.propertyName}}<br> {{request.lease.rentalProperty.address.city}} {{request.lease.rentalProperty.address.stateProvince}} {{request.lease.rentalProperty.address.zipPostCode}} <br> {{requestlease.rentalProperty.address.country}} -->

            <p style="font-size:.85em">
                {{request.lease.rentalProperty.propertyName}}<br> {{request.lease.rentalProperty.address.streetNum}}<br> {{request.lease.rentalProperty.address.city}} {{request.lease.rentalProperty.address.stateProvince}} <br>{{request.lease.rentalProperty.address.zipPostCode}}
                <!--  {{request.lease.rentalProperty.address.city}} {{request.lease.rentalProperty.address.stateProvince}} <br>{{request.lease.rentalProperty.address.zipPostCode}} <br> {{requestlease.rentalProperty.address.country}} -->
            </p>

            <p></p>


            <span style="font-weight: 500;">Work Orders</span>
            <ul style="list-style: none;font-size:.85em">
                <li style="margin-left: -20px;" *ngFor="let wo of request.lease.rentalProperty.workOrder">
                    <span *ngIf="request.lease.rentalProperty.workOrder">
                  {{wo.workOrderName}} --- <span style="font-style: italic;" [style.color]="wo.workOrderStatus == 'Completed' ? 'green' : wo.workOrderStatus == 'In Progress' ? 'orange' : 'red'">{{wo.workOrderStatus}}</span>
                    </span>
                    <span *ngIf="!request.lease.rentalProperty.workOrder">
                  No work orders
                </span>
                </li>
            </ul>
            <!-- <p>History</p> -->
            <!-- <ul style="list-style: none;">
                <li *ngFor="let order of vendor.workOrder" style="font-size: .75em; margin-bottom: 7px;">
                    {{order.workOrderName}}, started: {{order.startDate | date}}, Completed: {{order.endDate | date}} <br> ----------------------
                </li>
            </ul> -->


        </div>
    </div>
    <div fxFlex="70%">
        <mat-card class="request-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="tenant-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #1950e6; margin-left: 5px; ">
                    account_circle
                  </i>
                </div>
                <mat-card-title>Service Request: - ID: {{request.id}}<span style="font-size: .8em; font-style: italic;"> &nbsp; {{request.requestSubject}}</span> </mat-card-title>
                <mat-card-subtitle>{{request.serviceCategory}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="request-details-card-content">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxLayout="column" fxLayoutAlign="start center" style="width: 75%;">
                        <mat-form-field class="request-full-width" style="margin-top: 25px;">
                            <mat-label>Service Request Id</mat-label>
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <input readonly type="text" id="id" matInput [value]="request.id" name="request.id">
                        </mat-form-field>
                        <mat-form-field class="request-full-width">
                            <mat-label>Request Subject</mat-label>
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <input readonly type="text" id="id" matInput [value]="request.requestSubject" name="request.requestSubject">
                        </mat-form-field>
                        <mat-form-field class="request-full-width">
                            <mat-label>Service Request Id</mat-label>
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <textarea type="text" id="notes" matInput placeholder="Notes" [value]="request.requestDetails" name="request.requestDetails"></textarea>
                        </mat-form-field>
                        <mat-form-field class="request-full-width">
                            <mat-label>Notes</mat-label>
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <textarea type="text" id="notes" matInput placeholder="Notes" [value]="request.notes" name="request.notes"></textarea>
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="start center" style="width: 95%;">
                            <div fxFlex="50%">
                                <mat-form-field fxFlex="90%">
                                    <mat-label>Service Request Status</mat-label>
                                    <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                    <input readonly type="text" id="status" matInput [value]="request.status | status" name="request.status">
                                </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                                <!-- <mat-checkbox class="reqeust-full-width" [value]="request.urgent" name="request.urgent">Is An Emergence</mat-checkbox> -->
                                <mat-form-field fxFlex="90%">
                                    <mat-label>Urgence Level</mat-label>
                                    <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                    <input readonly type="text" id="urgent" matInput [value]="request.urgent | urgentLevel" name="request.urgent">
                                </mat-form-field>
                            </div>
                        </div>
                        <p style="width: 95%;font-weight: bold;margin-bottom: 20px;font-size: 1.2em;">
                            Comments & Feedbacks <span><button mat-button>Add Comment</button></span>
                        </p>
                        <div class="request-full-width comment">

                        </div>

                    </div>
                    <span class="spacer"></span>
                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
<img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/> [disabled]="f.invalid || !f.dirty"-->
                        <button type="submit" mat-raised-button color="primary" (click)="goBack()">OK</button>
                        <!-- <button type="button" mat-raised-button color="accent">CANCEL</button> -->
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="loading$ | async">
    <app-loading></app-loading>
</div>
