<!-- <p>
  servie-request-details works!
</p>-->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="request">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/tenant.png" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="">

        <div style="margin-top: 25px;">
            <span style="font-weight: 500;"></span>
            <!-- <p>{{lease.rentalProperty.propertyName}}<br> {{lease.rentalProperty.address.city}} {{lease.rentalProperty.address.stateProvince}} {{lease.rentalProperty.address.zipPostCode}} <br> {{lease.rentalProperty.address.country}} -->
            <!-- </p> -->
            <p></p>


            <!-- <p>History</p> -->
            <!-- <ul style="list-style: none;">
                <li *ngFor="let order of vendor.workOrder" style="font-size: .75em; margin-bottom: 7px;">
                    {{order.workOrderName}}, started: {{order.startDate | date}}, Completed: {{order.endDate | date}} <br> ----------------------
                </li>
            </ul> -->


        </div>
    </div>
    <div fxFlex="70%">
        <mat-card class="request-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="tenant-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #1950e6; margin-left: 5px; ">
                    account_circle
                  </i>
                </div>
                <mat-card-title>Service Request: - ID: {{request.id}}<span style="font-size: .8em; font-style: italic;"> &nbsp; {{request.requestSubject}}</span> </mat-card-title>
                <mat-card-subtitle>{{request.serviceCategory}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>

<div *ngIf="loading$ | async">
    <app-loading></app-loading>
</div>