<div fxLayout="column" fxLayoutGap="7px" fxLayoutAlign="center center">
    <div fxLayout="row">
        <mat-icon style="color: orangered;vertical-align: bottom;font-size: 2.2em;margin-right: 20px;">warning</mat-icon>
        <div fxLayout="column">
            <div>
                De-active the notice?
            </div>
            <div>Please confirm.</div>
        </div>
    </div>

    <form novalidate [formGroup]="statusForm" onsubmit="update()">

        <!-- <mat-radio-group formControlName="isActive" style="margin-left: 10px">
        <mat-radio-button value=1 [checked]="data.isActive" style="margin-right: 20px;">Active</mat-radio-button>
        <mat-radio-button value=0>Inactive</mat-radio-button>
    </mat-radio-group> -->
        <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="center center" style="width: 98%; margin-bottom: 5px;margin-top: 15px;">
            <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
<img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/> [disabled]="f.invalid || !f.dirty"-->
            <div *ngIf="loading$ | async">
                <app-loading></app-loading>
            </div>
            <button [disabled]="!data.id" type="button" mat-raised-button color="primary" (click)="update()"> CONFIRM</button>
            <button mat-raised-button color="accent" [mat-dialog-close]="true"> CANCEL</button>
        </div>


        <!-- <div fxLayout="row" fxLayoutAlign="start start">

  </div> -->
    </form>
</div>