<!-- <p>
  lease-home works!
</p> -->
<div class="grid-container">
    <div>
        <h2 style="font-variant: all-petite-caps; color: #656767; margin-top: -20px; margin-left: 15px;"><i class="fas fa-dungeon title-icon"></i> &nbsp; Lease/Rental Manager
            <span style="font-size: .4em; font-variant: normal;">&nbsp;&nbsp; Manage lease/renal agreements, tenants, etc.</span>
        </h2>
        <!-- <div> -->

        <!-- </div> -->
    </div>

    <!-- <app-property-list ></app-property-list> -->
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>
