<!-- <p>
  contract-view works!
</p> -->
<div class="view-container">
    <app-contract-header [user]="pm" [contract]="contract"></app-contract-header>
    <app-contract-content></app-contract-content>
    <app-contract-footer></app-contract-footer>
    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="margin-top: 30px;">
        <button type="button" mat-raised-button color="primary" (click)="download()">Download PDF</button>
        <button mat-raised-button color="accent" (click)="Ok()">Ok</button>
    </div>
</div>
