<!-- <p>*ngIf="!(loading$ | async) && property; else spinner"
  property-details works!
</p>
<p>Property ID: {{id}}</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="property">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <span *ngIf="imgList.length > 0; else default">
          <img attr.src="{{serverUrl}}{{imgList[0].propertyImgUrl}}" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="{{property.propertyName}}">
        </span>
        <ng-template #default>
            <img src="../../assets/images/10621.jpg" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="{{property.propertyName}}">
        </ng-template>


        <div class="images">
            <!-- <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50"> -->
            <ul style="list-style-type: none;margin-left: -50px;">
                <li *ngFor="let img of imgList" style="display: inline;">
                    <span *ngIf="img.originalId == property.propertyId">
                  <img attr.src={{serverUrl}}{{img.propertyImgUrl}} width="45px" height="45px" title="{{img.rentalPropertyId}}">
                </span>
                </li>
            </ul>
        </div>
        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Owner Information</span>
            <ul class="owner-list">
                <li *ngFor="let owner of property.ownerList" style="margin-left: -40px;">

                    <a mat-button [matMenuTriggerFor]="menu" style="border: 1px solid grey; margin-bottom: 10px;">
                        <mat-icon>person</mat-icon> &nbsp;{{owner.firstName}} {{owner.lastName}}</a>
                    <mat-menu #menu="matMenu">
                        <div style="font-size: .8em;padding: 10px;">
                            <span style="font-weight: 600;">
                            OWNER ID: {{owner.id}}
                          </span><br><br>
                            <span>
                          First Name:  {{owner.firstName}}
                          </span><br>
                            <span>
                            Last Name:  {{owner.lastName}}
                          </span><br><br>
                            <span>
                            {{owner.address.streetNumber}}, {{owner.address.city}}
                          </span><br>
                            <span>
                            {{owner.address.stateProvince}} {{owner.address.zipPostCode}} <br>{{owner.address.country}}
                          </span>
                            <br>
                            <a routerLink="/Manage/property/ownerdetails/{{owner.id}}">more details</a>
                        </div>


                    </mat-menu>
                </li>
            </ul>
        </div>
        <div class="date-time">
            <p>
                Created: {{property.creationDate }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{property.updateDate }}
            </p>
        </div>

        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Management Contracts</span>
            <ul class="owner-list">
                <li *ngFor="let contract of property.contractList" style="">
                    <!-- {{contract.managementContractTitle}} {{contract.type | type }} {{contract.isActive | yesNo}}<a href="" style="cursor: pointer;">details</a> -->
                    <button mat-button [matMenuTriggerFor]="menu2" style="border: 1px solid grey; margin-bottom: 10px;"><mat-icon>description</mat-icon></button>
                    <mat-menu #menu2="matMenu">
                        <div style="font-size: .8em;padding: 10px;">
                            <span style="font-weight: 600;">
                            CONTRACT ID: {{contract.id}}
                          </span><br><br>
                            <span>
                          Title:  {{contract.managementContractTitle}}
                          </span><br>
                            <span>
                            Type:  {{contract.type | type}}
                          </span><br><br>
                            <span>
                            Active: {{contract.isActive | yesNo}}
                          </span><br>
                            <br>
                            <a routerLink="/Manage/property/contractdetails/{{contract.id}}">more details</a>
                        </div>


                    </mat-menu>
                </li>
            </ul>
        </div>

        <div *ngIf="(property.propertyType1 == 'Apartment' || property.propertyType1 == 'TownHouse') && !property.councilName">
            <button mat-button (click)="addStrata()">Add Strata Council</button>
        </div>

    </div>
    <div fxFlex="70%">
        <mat-card class="property-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="property-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
            account_balance
          </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"-->
                </div>
                <mat-card-title>Rental Property: ID: {{property.propertyId}} - <span style="font-size: .8em; font-style: italic;">{{property.propertyName}} (Status: {{property.status}})</span> </mat-card-title>
                <mat-card-subtitle>Address: {{property.propertyNumber}} {{property.propertyNumber}} {{property.propertyStreet}} {{property.propertyCity}} {{property.propertyStateProvince}} {{property.propertyZipPostCode}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="property-details-card-content">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()">
                    <div [@.disabled]="true" style="width: 100%;">
                        <mat-tab-group (selectedTabChange)="tabSelected($event)">
                            <mat-tab label="General" style="background: #f5f5f5;">
                                <!-- <mat-form-field class="property-full-width">
                <span class="icon-pos" matPrefix><mat-icon>person</mat-icon> &nbsp;</span>
                <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name" >

              </mat-form-field> -->
                                <!-- <app-property-details-basic [detailsForm]="detailsForm"></app-property-details-basic> -->
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="propertyId" matInput placeholder="Property ID" [ngModel]="property.propertyId">

                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name" [ngModel]="property.propertyName" name="propertyName">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput formControlName="propertyDesc" [ngModel]="property.propertyDesc"></textarea>
                                    </mat-form-field>

                                    <!-- <mat-form-field class="property-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name">
                                    </mat-form-field> -->
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 75%;">
                                        <mat-form-field class="property-full-width" style="width:20%">
                                            <mat-label>Property Type</mat-label>
                                            <mat-select [(value)]="current" id="type" formControlName="propertyType1" [ngModel]="property.propertyType1">
                                                <!-- <mat-option>None</mat-option> -->
                                                <mat-option value="SingleHouse">Single House</mat-option>
                                                <mat-option value="Apartment">Apartment</mat-option>
                                                <mat-option value="TownHouse">TownHouse</mat-option>
                                                <mat-option value="Others">Others</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="property-full-width" style="margin-top: 25px; width: 15%;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="number" id="propertyBuildYear" formControlName="propertyBuildYear" matInput placeholder="Property Build Year" [ngModel]="property.propertyBuildYear">
                                        </mat-form-field>
                                        <mat-checkbox formControlName="isShared" [ngModel]="property.isShared" [(checked)]="shared" class="property-full-width">Shared</mat-checkbox>
                                        <mat-checkbox formControlName="isBasementSuite" [ngModel]="property.isBasementSuite" class="property-full-width">Basement</mat-checkbox>
                                        <mat-form-field class="property-full-width" style="width: 30%;">
                                            <mat-label>Rental Status</mat-label>
                                            <mat-select [disabled]="true" [(value)]="status" id="status" formControlName="status" [ngModel]="property.status">
                                                <!-- <mat-option>None</mat-option> -->
                                                <mat-option value="New">New</mat-option>
                                                <mat-option value="Rented">Rented</mat-option>
                                                <mat-option value="Vacant">Vacant</mat-option>
                                                <mat-option value="Pending">Pending</mat-option>
                                                <mat-option value="Others">Others</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 75%;">
                                        <mat-form-field style="width: 10%;" class="property-full-width3">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertySuiteNumber" formControlName="propertySuiteNumber" matInput placeholder="Suite #" [ngModel]="property.propertySuiteNumber">

                                        </mat-form-field>
                                        <mat-form-field style="width: 25%;" class="property-full-width3">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertyNumber" formControlName="propertyNumber" matInput placeholder="Street Number" [ngModel]="property.propertyNumber">

                                        </mat-form-field>
                                        <mat-form-field style="width: 35%;" class="property-full-width3">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertyStreet" formControlName="propertyStreet" matInput placeholder="Street" [ngModel]="property.propertyStreet">

                                        </mat-form-field>
                                        <mat-form-field style="width: 25%;" class="property-full-width3">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertyCity" formControlName="propertyCity" matInput placeholder="City" [ngModel]="property.propertyCity">

                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 75%;">
                                        <mat-form-field class="property-full-width" style="width: 20%;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertyStateProvince" formControlName="propertyStateProvince" matInput placeholder="Province/State" [ngModel]="property.propertyStateProvince">

                                        </mat-form-field>
                                        <mat-form-field class="property-full-width">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertyZipPostCode" formControlName="propertyZipPostCode" matInput placeholder="Post/Zip Code" [ngModel]="property.propertyZipPostCode">

                                        </mat-form-field>
                                        <mat-form-field class="property-full-width">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="text" id="propertyCountry" formControlName="propertyCountry" matInput placeholder="Country" [ngModel]="property.propertyCountry">

                                        </mat-form-field>

                                    </div>
                                    <mat-form-field class="property-full-width">
                                        <mat-label>Notes</mat-label>
                                        <textarea matInput formControlName="featureNotes" [ngModel]="property.featureNotes"></textarea>
                                    </mat-form-field>
                                </div>

                            </mat-tab>

                            <mat-tab label="Features & Facilities" style="background: #f5f5f5;">
                                <!-- <app-property-details-features [detailsForm]="detailsForm" fxLayout="column"></app-property-details-features> -->
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <div style="margin-top: 25px;">
                                        <h5>Property Features</h5>
                                    </div>
                                    <!-- <hr style="border: 1;
                                    height: 1px;
                                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));margin-top: -2px;"> -->
                                    <span class="line"></span>
                                    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="max-width:75%;margin-top: 25px;">
                                        <mat-form-field class="property-full-width" fxFlex="10" style="margin-top: 25px;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="number" id="numberOfBedrooms" formControlName="numberOfBedrooms" matInput placeholder="Bedrooms" [ngModel]="property.numberOfBedrooms">

                                        </mat-form-field>
                                        <mat-form-field class="property-full-width" fxFlex="10" style="margin-top: 25px;margin-left: -30px;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="number" id="numberOfBathrooms" formControlName="numberOfBathrooms" matInput placeholder="Bathrooms" [ngModel]="property.numberOfBathrooms">

                                        </mat-form-field>
                                        <mat-form-field class="property-full-width" fxFlex="10" style="margin-top: 25px;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="number" id="numberOfLayers" formControlName="numberOfLayers" matInput placeholder="Layers" [ngModel]="property.numberOfLayers">

                                        </mat-form-field>
                                        <mat-form-field class="property-full-width" fxFlex="10" fxLayoutGap="50px" style="margin-top: 25px;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="number" id="numberOfParking" formControlName="numberOfParking" matInput placeholder="Parking" [ngModel]="property.numberOfParking">

                                        </mat-form-field>
                                        <mat-form-field class="property-full-width" fxFlex="15" style="margin-top: 25px;">
                                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                            <input type="number" id="livingArea" formControlName="totalLivingArea" matInput placeholder="Living Area (sqFT)" [ngModel]="property.totalLivingArea">

                                        </mat-form-field>

                                    </div>
                                    <div style="margin-top: 25px;">
                                        <h5>Property Facilities</h5>
                                    </div>
                                    <span class="line"></span>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px" style="width:75%;">
                                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30" fxLayoutGap="10px">
                                            <mat-checkbox formControlName="stove" [ngModel]="property.stove" class="property-full-width">Stove</mat-checkbox>
                                            <mat-checkbox formControlName="refrigerator" [ngModel]="property.refrigerator" class="property-full-width">Refrigerator</mat-checkbox>
                                            <mat-checkbox formControlName="dishwasher" [ngModel]="property.dishwasher" class="property-full-width">Dish Washer</mat-checkbox>
                                            <mat-checkbox formControlName="airConditioner" [ngModel]="property.airConditioner" class="property-full-width">Air Conditioner</mat-checkbox>
                                        </div>
                                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30" fxLayoutGap="10px">
                                            <mat-checkbox formControlName="laundry" [ngModel]="property.laundry" class="property-full-width">Laundry</mat-checkbox>
                                            <mat-checkbox formControlName="blindsCurtain" [ngModel]="property.blindsCurtain" class="property-full-width">Window Blinds</mat-checkbox>
                                            <mat-checkbox formControlName="furniture" [ngModel]="property.furniture" class="property-full-width">Furniture</mat-checkbox>
                                            <mat-checkbox formControlName="tvinternet" [ngModel]="property.tvinternet" class="property-full-width">TV/Internet</mat-checkbox>
                                        </div>
                                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="30" fxLayoutGap="10px">
                                            <mat-checkbox formControlName="commonFacility" [ngModel]="property.commonFacility" class="property-full-width">Common Area</mat-checkbox>
                                            <mat-checkbox formControlName="securitySystem" [ngModel]="property.securitySystem" class="property-full-width">Security/Alarm</mat-checkbox>
                                            <mat-checkbox formControlName="fireAlarmSystem" [ngModel]="property.fireAlarmSystem" class="property-full-width">Fire/Smoke Detectors</mat-checkbox>
                                            <mat-checkbox formControlName="utilityIncluded" [ngModel]="property.utilityIncluded" class="property-full-width">Utility</mat-checkbox>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px" style="width:75%;margin-top: 25px;">
                                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50" fxLayoutGap="10px">
                                            <mat-form-field class="property-full-width" style="width: 90%;">
                                                <mat-label>Others</mat-label>
                                                <textarea matInput formControlName="others" [ngModel]="property.others"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="50" fxLayoutGap="10px;margin-top: 25px;">
                                            <mat-form-field class="property-full-width" style="width: 90%;">
                                                <mat-label>Notes</mat-label>
                                                <textarea matInput formControlName="facilityNotes" [ngModel]="property.facilityNotes"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>

                            </mat-tab>
                            <!-- <mat-tab label="Facilities" style="background: #f5f5f5;">
                                <app-property-details-facilities [detailsForm]="detailsForm" fxLayout="column"></app-property-details-facilities>
                            </mat-tab> -->
                            <mat-tab *ngIf="council[0]" label="Strata Council" style="background: #f5f5f5;">

                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="councilName" matInput placeholder="Strata Council Name" [ngModel]="council[0].councilName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="description" matInput placeholder="Description" [ngModel]="council[0].description">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerFirstName" matInput placeholder="Property Manager First Name" [ngModel]="council[0].inChargeManagerFirstName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerLastName" matInput placeholder="Property Manager Last Name" [ngModel]="council[0].inChargeManagerLastName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>phone</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerContactTel" matInput placeholder="Property Manager Telephone" [ngModel]="council[0].inChargeManagerContactTel">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>mail</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerContactEmail" matInput placeholder="Property Manager Email" [ngModel]="council[0].inChargeManagerContactEmail">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>description</mat-icon> &nbsp;</span>
                                        <textarea readonly type="text" id="propertyId" formControlName="notes" matInput placeholder="Property Manager Email" [ngModel]="council[0].notes"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-tab>


                            <!-- <ng-template #strata> -->
                            <mat-tab *ngIf="property.councilName && !council[0]" label="Strata Council" style="background: #f5f5f5;">

                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="councilName" matInput placeholder="Strata Council Name" [ngModel]="property.councilName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="description" matInput placeholder="Description" [ngModel]="property.description">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerFirstName" matInput placeholder="Property Manager First Name" [ngModel]="property.inChargeManagerFirstName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerLastName" matInput placeholder="Property Manager Last Name" [ngModel]="property.inChargeManagerLastName">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>phone</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerContactTel" matInput placeholder="Property Manager Telephone" [ngModel]="property.inChargeManagerContactTel">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>mail</mat-icon> &nbsp;</span>
                                        <input readonly type="text" id="propertyId" formControlName="inChargeManagerContactEmail" matInput placeholder="Property Manager Email" [ngModel]="property.inChargeManagerContactEmail">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>description</mat-icon> &nbsp;</span>
                                        <textarea readonly type="text" id="propertyId" formControlName="notes" matInput placeholder="Property Manager Email" [ngModel]="property.notes"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-tab>
                            <!-- </ng-template> -->




                        </mat-tab-group>
                    </div>
                    <div *ngIf="!hideButton" fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
            <img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            /> [disabled]="f.invalid || !f.dirty"          ; $event.preventDefault()            UpdateProperty()  (click)="submit(detailsForm.value)"     -->
                        <!-- <span *ngIf="status" style="margin-right: 20px;">
                          <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                        />
                        </span> -->
                        <!-- <span *ngIf="showMsg" style="margin-right: 20px;"> Updated successfully!</span>&nbsp;&nbsp; -->
                        <button [disabled]="loading$ | async" type="submit" mat-raised-button color="primary"><mat-icon style="color: green;">check</mat-icon>&nbsp; UPDATE</button>
                        <button mat-raised-button color="accent" (click)="goBack()"><mat-icon style="color: orangered;">clear</mat-icon>&nbsp; CANCEL</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div *ngIf="loading$ | async">
    <app-loading></app-loading>
</div>
