<!-- <p>
  property-details works!
</p>
<p>Property ID: {{id}}</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="property">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/10621.jpg" style="border-radius: 50%;" width="120px" height="120px" title="{{property.propertyName}}">
        <div class="images">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
        </div>
        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Owner Information</span>
            <ul class="owner-list">
                <li *ngFor="let owner of property.ownerList" style="margin-left: -40px;">
                    {{owner.firstName}} {{owner.lastName}} <a href="" style="cursor: pointer;">details</a>
                </li>
            </ul>
        </div>
        <div class="date-time">
            <p>
                Created: {{detailsForm.value.creationDate | date }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{detailsForm.value.updateDate | date }}
            </p>
        </div>

    </div>
    <div fxFlex="70%">
        <mat-card class="property-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="property-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
            account_balance
          </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"-->
                </div>
                <mat-card-title>Rental Property: </mat-card-title>
                <mat-card-subtitle>Address: </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="property-details-card-content">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()">
                    <div [@.disabled]="true" style="width: 100%;">
                        <mat-tab-group>
                            <mat-tab label="General" style="background: #f5f5f5;">
                                <!-- <mat-form-field class="property-full-width">
                <span class="iocn-pos" matPrefix><mat-icon>person</mat-icon> &nbsp;</span>
                <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name" >

              </mat-form-field> -->
                                <!-- <app-property-details-basic [detailsForm]="detailsForm"></app-property-details-basic> -->
                                <div fxLayout="column" fxLayoutAlign="start center">
                                    <mat-form-field class="property-full-width" style="margin-top: 25px;">
                                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name" name="propertyName">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <mat-label>Description</mat-label>
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <span class="iocn-pos" matPrefix><mat-icon>library_books</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Address: Street Number">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                    <mat-form-field class="property-full-width">
                                        <span class="iocn-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                        <input type="text" id="propertyName" formControlName="propertyName" matInput placeholder="Property Name">
                                        <!-- {{firstName}} -->

                                        <!-- <mat-hint>Should be a valid email address</mat-hint>
                                  <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
                                  <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                                    </mat-form-field>
                                </div>

                            </mat-tab>

                            <mat-tab label="Features" style="background: #f5f5f5;">
                                <app-property-details-features [detailsForm]="detailsForm" fxLayout="column"></app-property-details-features>
                            </mat-tab>
                            <mat-tab label="Facilities" style="background: #f5f5f5;">
                                <app-property-details-facilities [detailsForm]="detailsForm" fxLayout="column"></app-property-details-facilities>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
            <img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
            /> [disabled]="f.invalid || !f.dirty"-->
                        <button type="submit" mat-raised-button color="primary">UPDATE</button>
                        <button mat-raised-button color="accent">CANCEL</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
