<!-- <p>
  agreement-header works!
</p> -->
<div class="container" fxLayout="row" fxLayoutAlign="end" fxFlexFill>
    <div fxFlex="30%"></div>
    <div fxFlex="30%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->
        <img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;">
    </div>
    <div fxFlex="30%"></div>
    <div fxFlex="30%" style="text-align: right;font-weight: bold;font-size: 1.2em;">
        Residential<br> Tenancy Agreement
    </div>
</div>
<div class="container2" fxLayout="column" fxLayoutAlign="end" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="start" fxFlexFill style="margin-top: -10px;">
        <p fxFlex="85%" style="font-size: .75em; font-weight: bold;">Important Notes: </p>
        <p fxFlex="15%" style="text-align: right;font-size: .75em;font-weight: bold;">#RTB–1 </p>
    </div>
    <p style="font-size: .75em;">
        The Residential Tenancy Branch (RTB) is of the opinion that this Residential Tenancy Agreement accurately reflects the Residential Tenancy Act (RTA) and accompanying regulations. The RTB makes no representations or warranties regarding the use of this
        Agreement. A landlord and tenant may wish to obtain independent legal advice regarding whether this agreement satisfies their own personal or business needs. For the rental of a manufactured home and a manufactured home site under a single tenancy
        agreement, use this Agreement form. For the rental of a manufactured home site use the Manufactured Home Site Tenancy Agreement (form RTB-5).
    </p>
    <p style="font-size: .75em;margin-bottom: 0;">
        The words tenant and landlord in this tenancy agreement have the same meaning as in the RTA, and the singular of these words includes the plural. In this tenancy agreement, the words residential property have the same meaning as in the RTA. Residential
        property means a building, a part of a building or related group of buildings, in which one or more rental units or common areas are located; the parcel or parcels on which the building, related group of buildings or common areas are located;
        the rental unit and common areas and any other structure located on the parcel or parcels.
    </p>
</div>