.order-details-card {
    width: 100%;
    // background: #f5f5f5;
    background: transparent;
}

.order-details-card-content {
    min-height: 600px;
    background: #fafafa;
}

.order-full-width {
    width: 95%;
}

.invoice-card {
    width: 95%;
    // background: #f5f5f5;
    background: transparent;
    border: 1px solid #ddd;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px #ccc;
    margin-top: 25px;
}

.no-invoice-text {
    margin-left: 25px;
    margin-top: 25px;
    font-size: 1.25em;
    font-weight: 500;
}

.bottom-margin {
    margin-bottom: 10px;
}
