.order-details-card {
    width: 100%;
    // background: #f5f5f5;
    background: transparent;
}

.order-details-card-content {
    min-height: 600px;
    background: #fafafa;
}

.order-full-width {
    width: 95%;
}