.container {
    height: 100%;
}

.about-card {
    /* max-width: 400px; */
    padding: 35px;
    margin-bottom: 25px;
}

.about-header {
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
}

.about-content {
    margin-top: 100px;
}

.sub-title {}

.tab-content {
    margin-top: 20px;
}
