<!-- <p>
    agreement-party-view works!
</p> -->
<div class="container" fxLayout="row" fxLayoutAlign="end" fxFlexFill>
    <div fxFlex="30%"><img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;margin-top: 15px;"></div>
    <div fxFlex="30%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->

    </div>
    <div fxFlex="30%"></div>
    <div fxFlex="30%" style="text-align: right;font-weight: bold;font-size: 1.2em;margin-top: 15px;">
        Schedule of Parties
    </div>
</div>
<p style="margin-top: -10px;"></p>
<div class="container-padding" fxLayout="row" fxLayoutAlign="end" fxFlexFill style="font-size: .85em;">
    <div fxFlex="60%" style="margin-top:-10px">
        <span style="margin-left: 15px;">For RTB Use only: File #</span>
        <span><input type="text" style="width:50%;margin-left: 15px;height: 35px;"></span>
    </div>
    <div fxFlex="30%">
    </div>
    <div fxFlex="10%">
        <p style="margin-top:10px;">#RTB – 26</p>
    </div>
</div>
<div class="container" style="padding-bottom: 3px;">
    <p style="font-weight: bold;margin-left: 15px;margin-top: -13px;margin-bottom: 5px;">
        If the form you are completing does not have enough room for additional applicants or respondents, use this Schedule of Parties to continue. It is to be filed with your completed application.
    </p>
    <p style="font-size: .85em;margin-left: 20px;margin-bottom: 5px;">
        Your personal information is collected under section 26 (a) and (c) of the Freedom of Information and Protection of Privacy Act for the purpose of administering the Residential Tenancy Act and Manufactured Home Park Tenancy Act. If you have any questions
        regarding the collection of your personal information, please contact an information officer by calling 604-660-1020 in Greater Vancouver; 250-387-1602 in Victoria; or 1-800-665-8779 elsewhere in B.C.
    </p>
    <p style="font-weight: bold; border-top: 2px dashed darkblue; margin-left: 15px;color: #1150af;margin-bottom: 0;">
        <span style="padding: 3px;">PARTY'S NAME and ADDRESS</span>
    </p>
    <p style="font-style: italic;font-weight: bold;margin-left: 15px; font-size: .9em; color: #1150af; border-bottom: 2px dotted darkblue;">
        <span>Note: if the 'Legal Name' of a party is a 'business name', enter the full business name in the 'last name' box'.</span>
    </p>
    <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
        <!-- <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>


      </div> -->
        <p style="margin-left: 15px;margin-bottom: 0;margin-top: -20px;">
            <span style="font-style:italic;">(Check one)</span><span style="font-weight: bold;margin-left: 10px;"><input type="radio"> Landloard</span><span style="font-weight: bold;margin-left: 20px;"><input type="radio"> Tenant</span>
            <span style="margin-left: 15px;">Other<input type="text" style="width: 250px; margin-left: 20px; height: 35px;"></span>
        </p>
        <p style="font-weight: bold; margin-bottom: -10px;margin-left: 15px;">
            Full Legal Name:
        </p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;">
                <input type="text">
            </div>
            <div fxFlex="33%">
                <input type="text">
            </div>
            <div fxFlex="34%">
                <input type="text">
            </div>
        </div>
        <p style="margin-top:-10px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                Last name
            </div>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                First name
            </div>
            <div fxFlex="34%" style="margin-left: 15px;font-size: .8em;">
                Middle name(s)
            </div>
        </div>
        <p style="font-weight: bold; margin-bottom: -10px;margin-left: 15px;">
            Address:
        </p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="10%" style="margin-left: 15px;">
                <input type="text">
            </div>
            <div fxFlex="10%">
                <input type="text">
            </div>
            <div fxFlex="30%">
                <input type="text">
            </div>
            <div fxFlex="25%">
                <input type="text">
            </div>
            <div fxFlex="10%">
                <input type="text">
            </div>
            <div fxFlex="15%">
                <input type="text">
            </div>
        </div>
        <p style="margin-top:-13px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="10%" style="margin-left: 15px; font-size: .8em;">
                Unit or site #
            </div>
            <div fxFlex="10%" style="margin-left: 5px; font-size: .8em;">
                Street #
            </div>
            <div fxFlex="30%" style="font-size: .85em;">
                Street name
            </div>
            <div fxFlex="25%" style="margin-left: 50px; font-size: .8em;">
                City
            </div>
            <div fxFlex="10%" style="padding-left: 15px; font-size: .8em;">
                Province
            </div>
            <div fxFlex="15%" style="margin-left: 15px; font-size: .8em;">
                Postal Code
            </div>
        </div>
        <p style="margin-top:-20px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%" style="margin-right:5px;">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Home phone number</span>
                </div>
            </div>
            <div fxFlex="33%" style="font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%" style="margin-right:5px;">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Business phone number</span>
                </div>
            </div>
            <div fxFlex="34%" style="font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Fax number</span>
                </div>
            </div>
        </div>
        <p style="margin-top: 10px; margin-left: 15px; font-size: .9em; color: #1150af; border-bottom: 2px dotted darkblue;"></p>

    </div>

    <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
        <!-- <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>


    </div> -->
        <p style="margin-left: 15px;margin-bottom: 0;margin-top: -20px;">
            <span style="font-style:italic;">(Check one)</span><span style="font-weight: bold;margin-left: 10px;"><input type="radio"> Landloard</span><span style="font-weight: bold;margin-left: 20px;"><input type="radio"> Tenant</span>
            <span style="margin-left: 15px;">Other<input type="text" style="width: 250px; margin-left: 20px; height: 35px;"></span>
        </p>
        <p style="font-weight: bold; margin-bottom: -10px;margin-left: 15px;">
            Full Legal Name:
        </p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;">
                <input type="text">
            </div>
            <div fxFlex="33%">
                <input type="text">
            </div>
            <div fxFlex="34%">
                <input type="text">
            </div>
        </div>
        <p style="margin-top:-10px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                Last name
            </div>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                First name
            </div>
            <div fxFlex="34%" style="margin-left: 15px;font-size: .8em;">
                Middle name(s)
            </div>
        </div>
        <p style="font-weight: bold; margin-bottom: -10px;margin-left: 15px;">
            Address:
        </p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="10%" style="margin-left: 15px;">
                <input type="text">
            </div>
            <div fxFlex="10%">
                <input type="text">
            </div>
            <div fxFlex="30%">
                <input type="text">
            </div>
            <div fxFlex="25%">
                <input type="text">
            </div>
            <div fxFlex="10%">
                <input type="text">
            </div>
            <div fxFlex="15%">
                <input type="text">
            </div>
        </div>
        <p style="margin-top:-13px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="10%" style="margin-left: 15px; font-size: .8em;">
                Unit or site #
            </div>
            <div fxFlex="10%" style="margin-left: 5px; font-size: .8em;">
                Street #
            </div>
            <div fxFlex="30%" style="font-size: .85em;">
                Street name
            </div>
            <div fxFlex="25%" style="margin-left: 50px; font-size: .8em;">
                City
            </div>
            <div fxFlex="10%" style="padding-left: 15px; font-size: .8em;">
                Province
            </div>
            <div fxFlex="15%" style="margin-left: 15px; font-size: .8em;">
                Postal Code
            </div>
        </div>
        <p style="margin-top:-20px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%" style="margin-right:5px;">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Home phone number</span>
                </div>
            </div>
            <div fxFlex="33%" style="font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%" style="margin-right:5px;">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Business phone number</span>
                </div>
            </div>
            <div fxFlex="34%" style="font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Fax number</span>
                </div>
            </div>
        </div>
        <p style="margin-top: 10px; margin-left: 15px; font-size: .9em; color: #1150af; border-bottom: 2px dotted darkblue;"></p>

    </div>

    <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
        <!-- <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>


  </div> -->
        <p style="margin-left: 15px;margin-bottom: 0;margin-top: -20px;">
            <span style="font-style:italic;">(Check one)</span><span style="font-weight: bold;margin-left: 10px;"><input type="radio"> Landloard</span><span style="font-weight: bold;margin-left: 20px;"><input type="radio"> Tenant</span>
            <span style="margin-left: 15px;">Other<input type="text" style="width: 250px; margin-left: 20px; height: 35px;"></span>
        </p>
        <p style="font-weight: bold; margin-bottom: -10px;margin-left: 15px;">
            Full Legal Name:
        </p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;">
                <input type="text">
            </div>
            <div fxFlex="33%">
                <input type="text">
            </div>
            <div fxFlex="34%">
                <input type="text">
            </div>
        </div>
        <p style="margin-top:-10px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                Last name
            </div>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                First name
            </div>
            <div fxFlex="34%" style="margin-left: 15px;font-size: .8em;">
                Middle name(s)
            </div>
        </div>
        <p style="font-weight: bold; margin-bottom: -10px;margin-left: 15px;">
            Address:
        </p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="10%" style="margin-left: 15px;">
                <input type="text">
            </div>
            <div fxFlex="10%">
                <input type="text">
            </div>
            <div fxFlex="30%">
                <input type="text">
            </div>
            <div fxFlex="25%">
                <input type="text">
            </div>
            <div fxFlex="10%">
                <input type="text">
            </div>
            <div fxFlex="15%">
                <input type="text">
            </div>
        </div>
        <p style="margin-top:-13px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="10%" style="margin-left: 15px; font-size: .8em;">
                Unit or site #
            </div>
            <div fxFlex="10%" style="margin-left: 5px; font-size: .8em;">
                Street #
            </div>
            <div fxFlex="30%" style="font-size: .85em;">
                Street name
            </div>
            <div fxFlex="25%" style="margin-left: 50px; font-size: .8em;">
                City
            </div>
            <div fxFlex="10%" style="padding-left: 15px; font-size: .8em;">
                Province
            </div>
            <div fxFlex="15%" style="margin-left: 15px; font-size: .8em;">
                Postal Code
            </div>
        </div>
        <p style="margin-top:-20px"></p>
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="33%" style="margin-left: 15px;font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%" style="margin-right:5px;">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Home phone number</span>
                </div>
            </div>
            <div fxFlex="33%" style="font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%" style="margin-right:5px;">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Business phone number</span>
                </div>
            </div>
            <div fxFlex="34%" style="font-size: .8em;">
                <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
                    <div fxFlex="30%">
                        <input type="text">
                    </div>
                    <div fxFlex="70%">
                        <input type="text">
                    </div>
                </div>
                <div style="margin-top: -5px;">
                    Area Code <span style="margin-left: 15px;">Fax number</span>
                </div>
            </div>
        </div>
        <p style="margin-top: 10px; margin-left: 15px; font-size: .9em; color: #1150af; border-bottom: 2px dotted darkblue;"></p>

    </div>

    <p style="font-weight: bold;text-align: center;margin-bottom: 0;font-size: .85em;margin-top: -15px;">FOR MORE INFORMATION</p>
    <p style="font-weight: bold;text-align: center;margin-bottom: 0;font-size: .85em; ">RTB website: www.gov.bc.ca/landlordtenant</p>
    <p style="font-weight: bold;text-align: center;margin-bottom: 0;font-size: .85em;">Public Information Lines 1-800-665-8779 (toll-free) <span style="margin-left: 15px">Greater Vancouver 604-660-1020</span> <span style="margin-left: 15px">Victoria 250-387-1602</span></p>
</div>
<div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
    <div style="width: 35%;font-size: .85em;">
        <span style="font-weight:bold;">
Residential Tenancy Branch
</span><br>
        <span style="font-size: .8em;">
Office of Housing and Construction Standards<br>
#RTB-26 (2011/03)
</span>
    </div>
    <div class="spacer"></div>
    <div style="margin-top:20px">
        <span>Page___ of___ pages</span>
    </div>

</div>
