<!-- <p>
    agreement-party-view works!
</p> -->
<div class="container" fxLayout="row" fxLayoutAlign="end" fxFlexFill>
    <div fxFlex="30%"><img src="../../assets/images/bc-gov.png" width="75%" style="margin-bottom: -15px;"></div>
    <div fxFlex="30%" style="align-items:end;margin-right: 15px;">
        <!-- LOGO -->

    </div>
    <div fxFlex="30%"></div>
    <div fxFlex="30%" style="text-align: right;font-weight: bold;font-size: 1.2em;">
        Schedule of Parties
    </div>
</div>
<div class="container-padding" fxLayout="row" fxLayoutAlign="end" fxFlexFill>
    <div fxFlex="60%">
        <span style="margin-left: 10px;">For RTB Use only: File #</span>
        <span><input type="text" style="width:50%;margin-left: 15px;height: 35px;"></span>
    </div>
    <div fxFlex="30%">
    </div>
    <div fxFlex="10%">
        <p style="margin-top:10px;">#RTB – 26</p>
    </div>
</div>
<div class="container">
    <p style="font-weight: bold;margin-left: 15px;margin-top: 8px;">
        If the form you are completing does not have enough room for additional applicants or respondents, use this Schedule of Parties to continue. It is to be filed with your completed application.
    </p>
    <p style="font-size: .9em;margin-left: 20px;">
        Your personal information is collected under section 26 (a) and (c) of the Freedom of Information and Protection of Privacy Act for the purpose of administering the Residential Tenancy Act and Manufactured Home Park Tenancy Act. If you have any questions
        regarding the collection of your personal information, please contact an information officer by calling 604-660-1020 in Greater Vancouver; 250-387-1602 in Victoria; or 1-800-665-8779 elsewhere in B.C.
    </p>
</div>
