<!-- <p>
  listing-details works!
</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="listing">
    <div fxFlex="10%" fxLayoutAlign="end">
        <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/10621.jpg" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="">
        <div class="images">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
            <img src="http://placehold.it/50x50">
        </div>
        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Property Information</span>
            <p>
                {{listing.rentalProperty.propertyName}}
            </p>
            <p>
                {{listing.rentalProperty.address.streetNum}} <br> {{listing.rentalProperty.address.city}} {{listing.rentalProperty.address.stateProvince}} {{listing.rentalProperty.address.zipPostCode}} <br> {{listing.rentalProperty.address.country}}
            </p>
        </div>
        <div class="date-time">
            <p>
                Created: {{listing.created | date }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{listing.modified | date }}
            </p>
        </div>

    </div>
    <div fxFlex="70%">
        <mat-card class="listing-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="listing-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
                      format_align_left
                    </i>
                    <!-- <img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"-->
                </div>
                <mat-card-title>Property Listing: ID: {{listing.id}} - <span style="font-size: .8em; font-style: italic;">{{listing.title}}</span> </mat-card-title>
                <mat-card-subtitle>Rental Property: {{listing.rentalProperty.propertyName}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
<!-- {{property.propertyNumber}} {{property.propertyNumber}} {{property.propertyStreet}} {{property.propertyCity}} {{property.propertyStateProvince}} {{property.propertyZipPostCode}} -->
