<!-- <p>
    property-home works!
</p> margin-top: -20px;-->
<div class="grid-container">
    <h2 style="font-variant: all-petite-caps; color: #868a8a; margin-top: -20px; margin-left: 15px;"><i class="fas fa-home title-icon"></i> &nbsp; Property Manager</h2>

    <!-- <app-property-list ></app-property-list> -->
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>
<!--<app-property-list></app-property-list>

 <app-owner-list></app-owner-list>
<p>
    test ui design
</p>
<div class="bounds">

    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>


        <div fxFlex="30" class="sec2">
            <div fxLayout="column" fxLayout.xs="row" style="align-items: center;">
                <img src="{{serverUri}}images/dan.png" style="width: 50%; border-radius: 50%;margin-bottom: 35px;
                margin-top: 30px;">
            </div>
            <div fxLayout="column" fxLayout.xs="row">

            </div>
        </div>
        <div fxFlex="70" class="sec3" fxFlex.xs="15">
            third-section
        </div>

    </div>

</div>
-->
