<!-- <p>
  tenant-details works!
</p> -->

<!-- <p>
  all-tenants works!*ngIf="tenant"
</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="!(loading$ | async) && tenant; else spinner">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/tenant.png" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="">

        <div style="margin-top: 25px; font-size: .8em;">
            <span style="font-weight: 500;">Rental Property</span>
            <p>
                {{tenant.lease.rentalProperty.propertyName}}
            </p>
            <p>Address</p>
            <p>
                {{tenant.lease.rentalProperty.address.streetNum}} <br> {{tenant.lease.rentalProperty.address.city}} {{tenant.lease.rentalProperty.address.stateProvince}} {{tenant.lease.rentalProperty.address.zipPostCode}} <br> {{tenant.lease.rentalProperty.address.country}}
            </p>
        </div>
        <div style="margin-top: 25px; font-size: .8em;">
            <span style="font-weight: 500;">Rental Agreement</span>
            <p>
                {{tenant.lease.leaseTitle}}
            </p>
            <p>Details</p>
            <p>
                Start Date: {{tenant.lease.leaseStartDate | date}} <br>End Date: {{tenant.lease.leaseEndDate | date}} <br> Sign Date: {{tenant.lease.leaseSignDate | date}} <br> Rental Term: {{tenant.lease.term}} <br> After End: {{tenant.lease.endLeaseCode}}
            </p>
        </div>
        <div class="date-time">
            <p>
                Created: {{tenant.created | date }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{tenant.modified | date }}
            </p>
        </div>
    </div>
    <div fxFlex="70%">
        <mat-card class="tenant-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="tenant-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
                      account_circle
                    </i>
                    <!-- {{property.propertyId}}{{property.propertyName}}<img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"{{property.propertyNumber}} {{property.propertyNumber}} {{property.propertyStreet}} {{property.propertyCity}} {{property.propertyStateProvince}} {{property.propertyZipPostCode}}-->
                </div>
                <mat-card-title>Tenant: - {{tenant.firstName}} {{tenant.lastName}}<span style="font-size: .8em; font-style: italic;"></span> </mat-card-title>
                <mat-card-subtitle>Rental Property: {{tenant.lease.rentalProperty.propertyName}} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="tenant-details-card-content">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()">

                    <div fxLayout="column" fxLayoutAlign="start center" style="width: 75%;">
                        <mat-form-field class="tenant-full-width" style="margin-top: 25px;" *ngIf="tenant.onlineAccessEnabled">
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <input readonly type="text" id="userName" formControlName="userName" matInput placeholder="User Name" [ngModel]="tenant.userName">
                        </mat-form-field>

                        <mat-form-field class="tenant-full-width" style="margin-top: 25px;">
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <input readonly type="text" id="id" formControlName="id" matInput placeholder="Tenant ID" [ngModel]="tenant.id">
                        </mat-form-field>

                        <mat-form-field class="tenant-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>person</mat-icon> &nbsp;</span>
                            <input type="text" id="firstName" formControlName="firstName" matInput placeholder="First Name" [ngModel]="tenant.firstName" name="firstName">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="tenant-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>person</mat-icon> &nbsp;</span>
                            <input type="text" id="lastName" formControlName="lastName" matInput placeholder="Last Name" [ngModel]="tenant.lastName" name="propertyName">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>

                        <mat-form-field class="tenant-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>email</mat-icon> &nbsp;</span>
                            <input type="text" id="email" formControlName="contactEmail" matInput placeholder="Email" [ngModel]="tenant.contactEmail" name="contactEmail">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="tenant-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>settings_phone</mat-icon> &nbsp;</span>
                            <input type="text" id="contactTelephone" formControlName="contactTelephone" matInput placeholder="Telephone" [ngModel]="tenant.contactTelephone" name="contactTelephone">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="tenant-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>settings_phone</mat-icon> &nbsp;</span>
                            <input type="text" id="contactTelephone2" formControlName="contactTelephone2" matInput placeholder="Telephone" [ngModel]="tenant.contactTelephone2" name="contactTelephone2">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="tenant-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                            <input type="text" id="contactOthers" formControlName="contactOthers" matInput placeholder="Other Contact" [ngModel]="tenant.contactOthers" name="contactOthers">
                            <!-- {{firstName}} -->

                            <!-- <mat-hint>Should be a valid email address</mat-hint>
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error> -->
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="start start" style="width: 75%;">
                            <div style="width: 50%;">
                                <mat-checkbox formControlName="onlineAccessEnabled" [ngModel]="tenant.onlineAccessEnabled" class="tenant-full-width">Online Access</mat-checkbox>
                            </div>
                            <div style="width: 50%;">
                                <mat-checkbox formControlName="isActive" [ngModel]="tenant.isActive" class="tenant-full-width">Is Active</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
    <img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    /> [disabled]="f.invalid || !f.dirty"-->
                        <button type="submit" mat-raised-button color="primary">UPDATE</button>
                        <button mat-raised-button color="accent">CANCEL</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<ng-template #spinner>
    <div class="loadingio-spinner-spinner-vhc1lmfzuvn" style="top: 50%;
      left: 50%;
      position: fixed;
      z-index: 1000;">
        <div class="ldio-ugrhztjm33r">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</ng-template>
