<!-- <p>
  contract-header works!
</p> -->
<div fxLayout="column" fxLayoutAlign="center" class="container">
    <h3 style="font-size: 1.25rem;">Property Management Contract</h3>
    <p style="text-align: left;margin-top: 20px;">
        This is a management contract between {{user.firstname}} {{user.lastname}} (Property Manager) and {{contract.property.ownerProperty[0].propertyOwner.firstName}} {{contract.property.ownerProperty[0].propertyOwner.lastName}} (Client(s)) for the property
        {{contract.property.propertyName}} located on {{contract.property.address.propertyNumber}} {{contract.property.address.propertyStreet}} {{contract.property.address.propertyCity}} {{contract.property.address.propertyStateProvince}} {{contract.property.address.zipPostCode}}
        {{contract.property.address.propertyCountry}}.
    </p><br>
    <!-- <ul>
        <li *ngFor="let owner of contract.property.ownerProperty">
            {{owner.propertyOwner.firstName}} {{owner.propertyOwner.lastName}}
        </li>
    </ul> -->


    <!-- {{contract.property.ownerProperty.propertyOwner.firstName}} {{contract.property.ownerProperty.propertyOwner.lastName}} (Client(s)) for the property {{contract.property.propertyName}} -->

</div>
