<!-- <p>
  contract-header works!
</p> -->
<div fxLayout="column" fxLayoutAlign="start" class="container">
    <div style="border-bottom: 4px solid blue; padding-bottom: 15px;">
        <div fxLayout="row" fxLayoutAlign="start" fxFlexFill>
            <div fxFlex="8%"><img src="../../assets/images/logo.jpeg" height="60px" width="60px"></div>
            <div fxFlex="35%"><span style="font-weight: bold;font-size: 1.7em;">MPM Properties</span><br>
                <span style="font-style: italic;font-size: .85em;">Take care of your investment</span>
            </div>

            <div fxFlex="55%" style="text-align: right;font-size: .9em;margin-top: 15px;">
                <span>Tel: {{user.telephone1}}</span><br>
                <span>Email: {{user.email}}</span>
            </div>
        </div>
    </div>

    <!-- <div><img src="../../assets/images/logo.jpeg" height="50px" width="50px"> </div> -->
    <h3 style="font-size: 1.25rem;margin-top: 25px;text-align: center;text-transform: uppercase;">Property Management Contract</h3>

    <div>

    </div>
</div>
<!-- <ul>
        <li *ngFor="let owner of contract.property.ownerProperty">
            {{owner.propertyOwner.firstName}} {{owner.propertyOwner.lastName}}
        </li>
    </ul> -->


<!-- {{contract.property.ownerProperty.propertyOwner.firstName}} {{contract.property.ownerProperty.propertyOwner.lastName}} (Client(s)) for the property {{contract.property.propertyName}} -->

<!-- </div> -->
