<!-- <p>
  lease-details works!{{property.propertyName}}
</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="lease">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/agreement.png" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="">

        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Tenant Information</span>
            <ul class="tenant-list">
                <li *ngFor="let tenant of lease.tenant" style="margin-left: -40px;">
                    {{tenant.firstName}} {{tenant.lastName}} <a href="" style="cursor: pointer;">details</a>
                </li>
            </ul>
        </div>
        <div class="date-time">
            <p>
                Created: {{lease.created | date }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{lease.modified | date }}
            </p>
        </div>

    </div>
    <div fxFlex="70%">
        <mat-card class="lease-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="lease-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
                      vertical_split
                    </i>
                    <!-- {{property.propertyId}}{{property.propertyName}}<img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"{{property.propertyNumber}} {{property.propertyNumber}} {{property.propertyStreet}} {{property.propertyCity}} {{property.propertyStateProvince}} {{property.propertyZipPostCode}}-->
                </div>
                <mat-card-title>Rental Property: ID: - <span style="font-size: .8em; font-style: italic;">{{lease.id}} {{lease.leaseTitle}}</span> </mat-card-title>
                <mat-card-subtitle>Property Address: </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="lease-details-card-content">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()">

                    <div fxLayout="column" fxLayoutAlign="start center" style=" width: 75%;">
                        <!-- <mat-form-field class="lease-full-width" style="margin-top: 25px;">
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <input readonly type="text" id="leaseId" formControlName="id" matInput placeholder="Lease Agreement ID" [ngModel]="lease.id">
                        </mat-form-field> -->
                        <!-- [ngModel]="lease.id" -->
                        <mat-form-field class="lease-full-width" style="margin-top: 25px;">
                            <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                            <input type="text" id="leaseTitle" formControlName="leaseTitle" matInput placeholder="Lease Title" [ngModel]="lease.leaseTitle">
                        </mat-form-field>
                        <mat-form-field class="lease-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                            <input type="text" id="leaseDesc" formControlName="leaseDesc" matInput placeholder="Description" [ngModel]="lease.leaseDesc">
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="start start" style="width: 75%;">
                            <div style="width: 50%;">
                                <mat-form-field class="lease-full-width">
                                    <span class="icon-pos" matPrefix><mat-icon>date_range</mat-icon> &nbsp;</span>
                                    <input type="text" id="leaseStartDate" formControlName="leaseStartDate" matInput placeholder="Lease Start Date" [ngModel]="lease.leaseStartDate | date">
                                </mat-form-field>
                            </div>
                            <div style="width: 50%;">
                                <mat-form-field class="lease-full-width">
                                    <span class="icon-pos" matPrefix><mat-icon>date_range</mat-icon> &nbsp;</span>
                                    <input type="text" id="leaseEndDate" formControlName="leaseEndDate" matInput placeholder="Lease End Date" [ngModel]="lease.leaseEndDate | date">
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start start" style="width: 75%;">
                            <div style="width: 50%;">
                                <mat-form-field class="lease-full-width">
                                    <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                    <input type="text" id="term" formControlName="term" matInput placeholder="Lease Term" [ngModel]="lease.term">
                                </mat-form-field>
                            </div>
                            <div style="width: 50%;">
                                <mat-form-field class="lease-full-width">
                                    <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                    <input type="text" id="endLeaseCode" formControlName="endLeaseCode" matInput placeholder="End Lease Code" [ngModel]="lease.endLeaseCode">
                                </mat-form-field>
                            </div>
                        </div>




                        <mat-form-field class="lease-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                            <input type="text" id="rentAmount" formControlName="rentAmount" matInput placeholder="Monthly Rent" [ngModel]="lease.rentAmount | currency:'CAD'">
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;">
                            <div style="width: 50%;">
                                <mat-form-field class="lease-full-width">
                                    <span class="icon-pos" matPrefix><mat-icon>date_range</mat-icon> &nbsp;</span>
                                    <input readonly type="text" id="leaseSignDate" formControlName="leaseSignDate" matInput placeholder="Lease Sign Date" [ngModel]="lease.leaseSignDate | date">
                                </mat-form-field>
                            </div>
                            <div style="width: 50%;">
                                <mat-checkbox formControlName="isActive" [ngModel]="lease.isActive" class="tenant-full-width">Is Active</mat-checkbox>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;">
                            <div style="width: 50%;">
                                <mat-checkbox formControlName="isAddendumAvailable" [ngModel]="lease.isAddendumAvailable" class="tenant-full-width">Addendum Available</mat-checkbox>
                            </div>
                            <div style="width: 50%;">
                                <button disabled="lease.isAddendumAvailable" mat-raised-button>View Addendum</button>
                            </div>
                        </div>

                        <mat-form-field class="lease-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                            <input type="text" id="renewTerm" formControlName="renewTerm" matInput placeholder="Renew Terms" [ngModel]="lease.renewTerm">
                        </mat-form-field>


                        <mat-form-field class="lease-full-width">
                            <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                            <textarea type="text" id="notes" formControlName="notes" matInput placeholder="Notes" [ngModel]="lease.notes"></textarea>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
  <img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  /> [disabled]="f.invalid || !f.dirty"-->
                        <button type="submit" mat-raised-button color="primary">UPDATE</button>
                        <button mat-raised-button color="accent">CANCEL</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>


</div>
