<!-- <p>
  lease-details works!{{property.propertyName}}
</p> -->
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1%" fxFlexFill *ngIf="!(loading$ | async) && lease; else spinner">
    <div>
        <div fxFlex="10%" fxLayoutAlign="end">
            <i class="far fa-arrow-alt-circle-left" title="back to list" style="cursor: pointer; color: seagreen; font-size: 1.5em;" (click)="goBack()"></i>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="column" class="avatar_sec" fxLayoutAlign="start center">
        <img src="../../assets/images/agreement.png" style="border-radius: 50%;margin-top: 20px;" width="120px " height="120px" title="">

        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Rental Property</span>
            <p>{{lease.rentalProperty.propertyName}}<br> {{lease.rentalProperty.address.city}} {{lease.rentalProperty.address.stateProvince}} {{lease.rentalProperty.address.zipPostCode}} <br> {{lease.rentalProperty.address.country}}
            </p>
            <p> </p>
        </div>

        <div style="margin-top: 25px;">
            <span style="font-weight: 500;">Tenants</span>
            <ul class="tenant-list">
                <li *ngFor="let tenant of lease.tenant" style="margin-left: -40px;">
                    {{tenant.firstName}} {{tenant.lastName}} <a href="" style="cursor: pointer;">details</a>
                </li>
            </ul>
        </div>
        <div class="date-time">
            <p>
                Created: {{lease.created | date }}
            </p>
            <p style="margin-top: -10px;">
                Updated: {{lease.modified | date }}
            </p>
        </div>

    </div>
    <div fxFlex="70%">
        <mat-card class="lease-details-card ">
            <mat-card-header style="background-color: #f5f5f5; ">
                <div mat-card-avatar class="lease-details-header-image ">
                    <i class="material-icons " style="font-size: 2.5em;color: #e64a19; margin-left: 5px; ">
                      vertical_split
                    </i>
                    <!-- {{property.propertyId}}{{property.propertyName}}<img src="../../assets/images/pmgmnt.png " height="40px " width="40px "> *ngIf="property*ngIf="detailsForm.value"{{property.propertyNumber}} {{property.propertyNumber}} {{property.propertyStreet}} {{property.propertyCity}} {{property.propertyStateProvince}} {{property.propertyZipPostCode}}-->
                </div>
                <mat-card-title>Rental Agreement: ID: - <span style="font-size: .8em; font-style: italic;">{{lease.id}} {{lease.leaseTitle}}</span> </mat-card-title>
                <mat-card-subtitle>Property Address: </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="lease-details-card-content">
                <form novalidate fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="detailsForm" (ngSubmit)="submit()">
                    <mat-form-field hidden class="property-full-width" fxFlex="10" fxLayoutGap="50px" style="margin-top: 25px;">
                        <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                        <input type="number" id="id" formControlName="id" matInput [ngModel]="lease.id">

                    </mat-form-field>
                    <div [@.disabled]="true" style="width: 100%;">
                        <mat-tab-group>
                            <mat-tab label="General" style="background: #f5f5f5;">
                                <div fxLayout="column" fxLayoutAlign="start center" style=" width: 90%;">
                                    <!-- <mat-form-field class="lease-full-width" style="margin-top: 25px;">
                            <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                            <input readonly type="text" id="leaseId" formControlName="id" matInput placeholder="Lease Agreement ID" [ngModel]="lease.id">
                        </mat-form-field> -->
                                    <!-- [ngModel]="lease.id" -->
                                    <mat-form-field class="lease-full-width" style="margin-top: 25px;">
                                        <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                        <input type="text" id="leaseTitle" formControlName="leaseTitle" matInput placeholder="Lease Title" [ngModel]="lease.leaseTitle">
                                    </mat-form-field>
                                    <mat-form-field class="lease-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                        <input type="text" id="leaseDesc" formControlName="leaseDesc" matInput placeholder="Description" [ngModel]="lease.leaseDesc">
                                    </mat-form-field>
                                    <div fxLayout="row" fxLayoutAlign="start start" style="width: 75%;">
                                        <div fxFlex="50%">
                                            <mat-form-field fxFlex="90%">
                                                <span class="icon-pos" matPrefix><mat-icon>date_range</mat-icon> &nbsp;</span>
                                                <input type="text" id="leaseStartDate" formControlName="leaseStartDate" matInput placeholder="Lease Start Date" [ngModel]="lease.leaseStartDate | date">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%">
                                            <mat-form-field fxFlex="100%">
                                                <span class="icon-pos" matPrefix><mat-icon>date_range</mat-icon> &nbsp;</span>
                                                <input type="text" id="leaseEndDate" formControlName="leaseEndDate" matInput placeholder="Lease End Date" [ngModel]="lease.leaseEndDate | date">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start start" style="width: 75%;">
                                        <div fxFlex="50%">
                                            <mat-form-field fxFlex="90%">
                                                <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                                <input readonly type="text" id="term" formControlName="term" matInput placeholder="Lease Term" [ngModel]="lease.term | term">
                                                <!-- <mat-form-field style="width: 90%;">
                                                    <mat-label>Lease Term</mat-label>
                                                    <mat-select id="term" formControlName="term" [ngModel]="lease.term | term">
                                                        <mat-option [value]=0>None</mat-option>
                                                        <mat-option [value]=1>One Year</mat-option>
                                                        <mat-option [value]=2>Three Month</mat-option>
                                                        <mat-option [value]=3>Six Month</mat-option>
                                                        <mat-option [value]=4>Other</mat-option>
                                                    </mat-select>
                                                </mat-form-field> -->
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%">
                                            <mat-form-field style="width: 100%;">
                                                <!-- <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                                <input type="text" id="rentDueOn" formControlName="rentDueOn" matInput placeholder="Rent Due On" [ngModel]="lease.rentDueOn"> -->
                                                <mat-label>Rent Due Date</mat-label>
                                                <mat-select id="rentDueOn" formControlName="rentDueOn" [ngModel]="lease.rentDueOn">
                                                    <mat-option>None</mat-option>
                                                    <mat-option value="First Day of Month">First Day of Month</mat-option>
                                                    <mat-option value="15th Day of Month">15th Day of Month</mat-option>
                                                    <mat-option value="Last Day of Month">Last Day of Month</mat-option>
                                                    <mat-option value="Other">Other</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;">
                                        <div fxFlex="50%">
                                            <mat-form-field class="lease-full-width" style="width:90%">
                                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                                <input type="text" id="rentAmount" formControlName="rentAmount" matInput placeholder="Monthly Rent(CAD$)" [ngModel]="lease.rentAmount">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%">
                                            <mat-form-field class="lease-full-width" style="width:100%">
                                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                                <input type="text" id="rentFrequency" formControlName="rentFrequency" matInput placeholder="Rent Frequency" [ngModel]="lease.rentFrequency">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;">
                                        <div fxFlex="50%">
                                            <mat-form-field class="lease-full-width" style="width:90%">
                                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                                <input type="text" id="damage" formControlName="damageDepositAmount" matInput placeholder="Damage Deposit(CAD$)" [ngModel]="lease.damageDepositAmount">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%">
                                            <mat-form-field class="lease-full-width" style="width:100%">
                                                <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                                <input type="text" id="pet" formControlName="petDepositAmount" matInput placeholder="Pet Deposit(CAD$)" [ngModel]="lease.petDepositAmount">
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <mat-form-field class="lease-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>swap_calls</mat-icon> &nbsp;</span>
                                        <input type="text" id="endLeaseCode" formControlName="endLeaseCode" matInput placeholder="End Lease Code" [ngModel]="lease.endLeaseCode">
                                        <!-- <mat-label>End Lease</mat-label>
                                        <mat-select id="endLeaseCode" formControlName="endLeaseCode" [ngModel]="lease.endLeaseCode | renewCode">
                                            <mat-option [value]=0>None</mat-option>
                                            <mat-option [value]=1>Renew Month by Month</mat-option>
                                            <mat-option [value]=2>Renew by Other Term</mat-option>
                                            <mat-option [value]=3>Fixed Term and Renew by Term</mat-option>
                                            <mat-option [value]=4>Fixed Term and Vacant</mat-option>
                                        </mat-select> -->
                                    </mat-form-field>


                                    <!-- <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;">
                                        <div fxFlex="50%">
                                            <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                            <input type="text" id="deposit1" formControlName="c" matInput placeholder="Damage Deposit(CAD$)" [ngModel]="lease.damageDepositAmount">
                                        </div>
                                        <div fxFlex="50%">
                                            <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                            <input type="text" id="deposit2" formControlName="petDepositAmount" matInput placeholder="Pet Deposit(CAD$)" [ngModel]="lease.petDepositAmount">
                                        </div>
                                    </div> -->

                                    <!-- <mat-form-field class="lease-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>payment</mat-icon> &nbsp;</span>
                                        <input type="text" id="rentAmount" formControlName="rentAmount" matInput placeholder="Monthly Rent" [ngModel]="lease.rentAmount | currency:'CAD'">
                                    </mat-form-field> -->


                                    <!-- <div fxLayout="row" fxLayoutAlign="start center" style="width: 90%;">
                                        <div fxFlex="50%">
                                            <mat-checkbox formControlName="isAddendumAvailable" [ngModel]="lease.isAddendumAvailable" class="tenant-full-width">Addendum Available</mat-checkbox>
                                        </div>
                                        <div fxFlex="50%">
                                            <button disabled="lease.isAddendumAvailable" mat-raised-button>View Addendum</button>
                                        </div>
                                    </div> -->

                                    <mat-form-field class="lease-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                        <input type="text" id="renewTerm" formControlName="renewTerm" matInput placeholder="Renew Terms" [ngModel]="lease.renewTerm">
                                    </mat-form-field>
                                    <!-- This field is used as Reason to end tenancy -->


                                    <mat-form-field class="lease-full-width">
                                        <span class="icon-pos" matPrefix><mat-icon>notes</mat-icon> &nbsp;</span>
                                        <textarea type="text" id="notes" formControlName="notes" matInput placeholder="Notes" [ngModel]="lease.notes"></textarea>
                                    </mat-form-field>

                                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;">
                                        <div fxFlex="50%">
                                            <mat-form-field fxFlex="90%">
                                                <span class="icon-pos" matPrefix><mat-icon>date_range</mat-icon> &nbsp;</span>
                                                <input readonly type="text" id="leaseSignDate" formControlName="leaseSignDate" matInput placeholder="Lease Sign Date" [ngModel]="lease.leaseSignDate | date">
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="50%">
                                            <mat-checkbox formControlName="isActive" [ngModel]="lease.isActive" class="tenant-full-width">Is Active</mat-checkbox>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 75%;margin-bottom: 15px;">
                                        <div fxFlex="50%">
                                            <button mat-raised-button (click)="viewAgreement()">View Agreement</button>
                                        </div>
                                        <div fxFlex="50%">

                                        </div>
                                    </div>

                                </div>


                            </mat-tab>
                            <mat-tab label="Details" style="background: #f5f5f5;">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="10px" style="width:75%;margin-top: 25px;margin-left:45px ;">
                                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px" style="margin-left: 25px;">
                                        <mat-checkbox formControlName="water" [ngModel]="lease.rentCoverage.water" class="property-full-width">Water</mat-checkbox>
                                        <mat-checkbox formControlName="cablevison" [ngModel]="lease.rentCoverage.cablevison" class="property-full-width">Cable TV</mat-checkbox>
                                        <mat-checkbox formControlName="electricity" [ngModel]="lease.rentCoverage.electricity" class="property-full-width">Electricity</mat-checkbox>
                                        <mat-checkbox formControlName="internet" [ngModel]="lease.rentCoverage.internet" class="property-full-width">Internet</mat-checkbox>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">
                                        <mat-checkbox formControlName="heat" [ngModel]="lease.rentCoverage.heat" class="property-full-width">Heat</mat-checkbox>
                                        <mat-checkbox formControlName="naturalGas" [ngModel]="lease.rentCoverage.naturalGas" class="property-full-width">Natural Gas</mat-checkbox>
                                        <mat-checkbox formControlName="sewageDisposal" [ngModel]="lease.rentCoverage.sewageDisposal" class="property-full-width">Sewage Disposal</mat-checkbox>
                                        <mat-checkbox formControlName="snowRemoval" [ngModel]="lease.rentCoverage.snowRemoval" class="property-full-width">Snow Removal</mat-checkbox>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">
                                        <mat-checkbox formControlName="storage" [ngModel]="lease.rentCoverage.storage" class="property-full-width">Storage</mat-checkbox>
                                        <mat-checkbox formControlName="recreationFacility" [ngModel]="lease.rentCoverage.recreationFacility" class="property-full-width">Recreation Facility</mat-checkbox>
                                        <mat-checkbox formControlName="garbageCollection" [ngModel]="lease.rentCoverage.garbageCollection" class="property-full-width">Garbage Collection</mat-checkbox>
                                        <mat-checkbox formControlName="recycleServices" [ngModel]="lease.rentCoverage.recycleServices" class="property-full-width">Recycle Services</mat-checkbox>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">
                                        <mat-checkbox formControlName="kitchenScrapCollection" [ngModel]="lease.rentCoverage.kitchenScrapCollection" class="property-full-width">Laundry</mat-checkbox>
                                        <mat-checkbox formControlName="laundry" [ngModel]="lease.rentCoverage.laundry" class="property-full-width">Window Blinds</mat-checkbox>
                                        <mat-checkbox formControlName="sewageDisposal" [ngModel]="lease.rentCoverage.sewageDisposal" class="property-full-width">Furniture</mat-checkbox>
                                        <!-- <mat-checkbox formControlName="snowRemoval" [ngModel]="lease.rentCoverage.snowRemoval" class="property-full-width">Snow Removal</mat-checkbox> -->
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="10px" style="width:75%;margin-top: 25px;margin-left:45px ;">
                                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">
                                        <mat-checkbox formControlName="dishwasher" [ngModel]="lease.rentCoverage.dishwasher" class="property-full-width">Dishwasher</mat-checkbox>
                                        <mat-checkbox formControlName="stoveOven" [ngModel]="lease.rentCoverage.stoveOven" class="property-full-width">Stove/Oven</mat-checkbox>
                                        <mat-checkbox formControlName="Regigerator" [ngModel]="lease.rentCoverage.regigerator" class="property-full-width">Refrigerator</mat-checkbox>
                                        <mat-checkbox formControlName="windowCovering" [ngModel]="lease.rentCoverage.windowCovering" class="property-full-width">Window Covering</mat-checkbox>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="10px">
                                        <mat-checkbox formControlName="furniture" [ngModel]="lease.rentCoverage.furniture" class="property-full-width">Furniture</mat-checkbox>
                                        <mat-checkbox formControlName="carpets" [ngModel]="lease.rentCoverage.carpets" class="property-full-width">Carpets</mat-checkbox>
                                        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                                            <!-- <mat-checkbox formControlName="parkingStall" [ngModel]="lease.rentCoverage.parkingStall" class="property-full-width">Parking Stall</mat-checkbox> -->
                                            <mat-form-field class="property-full-width" fxFlex="50" style="margin-top: 25px;">
                                                <span class="icon-pos" matPrefix><mat-icon>developer_board</mat-icon> &nbsp;</span>
                                                <input type="number" id="numberOfLayers" formControlName="parkingStall" matInput placeholder="Parking Stall" [ngModel]="lease.rentCoverage.parkingStall">
                                            </mat-form-field>
                                        </div>


                                        <mat-form-field class="property-full-width">
                                            <mat-label>Notes</mat-label>
                                            <textarea matInput formControlName="other" [ngModel]="lease.rentCoverage.other"></textarea>
                                        </mat-form-field>


                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="Propeprty" style="background: #f5f5f5;">
                                <div style="margin-top: 25px; margin-left: 40px;margin-bottom: 320px;">
                                    <h6>Rental Property - {{lease.rentalProperty.propertyName}} </h6>
                                    <p style="font-weight: bold;">
                                        Address:
                                    </p>
                                    <p>
                                        {{lease.rentalProperty.address.streetNum}} <br> {{lease.rentalProperty.address.city}} {{lease.rentalProperty.address.stateProvince}} {{lease.rentalProperty.address.zipPostCode}} <br> {{lease.rentalProperty.address.country}}
                                    </p>

                                </div>

                            </mat-tab>
                            <mat-tab label="Tenants" style="background: #f5f5f5;">
                                <div style="margin-top: 25px; margin-left: 40px; margin-bottom: 300px;margin-top: 25px;">
                                    <h6 style="font-weight: bold;">Tenants</h6>
                                    <ul>
                                        <li *ngFor="let tenant of lease.tenant" style="list-style: none;" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1%" fxFlexFill>
                                            <!-- <p>Frist Name: {{tenant.firstName}}</p>
                                            <p>Last Name: {{tenant.lastName}</p>
                                            <p>Email: {{tenant.contactEmail}}</p>
                                            <p>Telephone: {{tenant.contactTelephone1}}</p> -->
                                            <mat-card class="tenant-card">
                                                <mat-card-header>
                                                    <div mat-card-avatar class="tenant-avatar">
                                                        <img src="../../assets/images/tenant.png" width="50px" height="50px" style="border-radius: 50%;">
                                                    </div>
                                                    <mat-card-title> {{tenant.firstName}} {{tenant.lastName}}</mat-card-title>
                                                    <mat-card-subtitle>{{tenant.contactEmail}} {{tenant.contactTelephone1}}</mat-card-subtitle>
                                                </mat-card-header>
                                            </mat-card>
                                        </li>
                                    </ul>
                                    <!-- <table class="property-table" *ngFor="let tenant of lease.tenant">
                                        <tr>
                                            <td class="title-cell">First Name</td>
                                            <td class="value-cell">{{tenant.firstName}}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Last Name</td>
                                            <td class="value-cell">{{tenant.lastName}}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Email</td>
                                            <td class="value-cell">{{tenant.contactEmail}}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Telephone</td>
                                            <td class="value-cell">{{tenant.contactTelephone1}}</td>
                                        </tr>
                                    </table> -->
                                </div>
                            </mat-tab>


                            <!-- <mat-tab label="Agent" style="background: #f5f5f5;"></mat-tab> -->

                        </mat-tab-group>
                    </div>
                    <span class="button-spacer"></span>
                    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="end center" style="width: 75%; margin-bottom: 20px;">
                        <!-- <span *ngIf="showMsg" style="color: rgb(189, 150, 25);">Updated successfully!</span>
<img *ngIf=" loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
/> [disabled]="f.invalid || !f.dirty"-->
                        <button type="submit" mat-raised-button color="primary">UPDATE</button>
                        <button mat-raised-button color="accent">CANCEL</button>
                    </div>

                </form>
            </mat-card-content>
        </mat-card>
    </div>


</div>

<ng-template #spinner>
    <app-loading></app-loading>
</ng-template>
